AddType image/svg+xml .svg
AddType image/svg+xml .svgz
AddType image/x-icon .ico
AddType application/vnd.ms-word.document.macroEnabled.12 .docm
AddType application/vnd.openxmlformats-officedocument.wordprocessingml.document docx
AddType application/vnd.openxmlformats-officedocument.wordprocessingml.template dotx
AddType application/vnd.ms-powerpoint.template.macroEnabled.12 potm
AddType application/vnd.openxmlformats-officedocument.presentationml.template potx
AddType application/vnd.ms-powerpoint.addin.macroEnabled.12 ppam
AddType application/vnd.ms-powerpoint.slideshow.macroEnabled.12 ppsm
AddType application/vnd.openxmlformats-officedocument.presentationml.slideshow ppsx
AddType application/vnd.ms-powerpoint.presentation.macroEnabled.12 pptm
AddType application/vnd.openxmlformats-officedocument.presentationml.presentation pptx
AddType application/vnd.ms-excel.addin.macroEnabled.12 xlam
AddType application/vnd.ms-excel.sheet.binary.macroEnabled.12 xlsb
AddType application/vnd.ms-excel.sheet.macroEnabled.12 xlsm
AddType application/vnd.openxmlformats-officedocument.spreadsheetml.sheet xlsx
AddType application/vnd.ms-excel.template.macroEnabled.12 xltm
AddType application/vnd.openxmlformats-officedocument.spreadsheetml.template xltx
AddType application/mathematica ma nb mb
Options -Indexes

<IfModule mod_php7.c>
  php_value upload_max_filesize 15M
  php_value post_max_size 128M
  php_value max_input_vars 5000
  php_value max_input_time 300
  php_value memory_limit 128M
</IfModule>

<Files "composer.json">
deny from all
</Files>

<Files "composer.lock">
deny from all
</Files>

<Files "phpunit.xml">
deny from all
</Files>

# Annoying vulnerability scans
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*admin.*) http://localhost/$1 [R=301,L,NC]
RewriteRule (.*mysql.*) http://localhost/$1 [R=301,L,NC]
RewriteRule ^sql(.*) http://localhost/$1 [R=301,L,NC]
RewriteRule ^db(.*) http://localhost/$1 [R=301,L,NC]
RewriteRule ^php(.*) http://localhost/$1 [R=301,L,NC]
RewriteRule ^pma(.*) http://localhost/$1 [R=301,L,NC]
