AddType image/svg+xml .svg
AddType image/svg+xml .svgz
AddType image/x-icon .ico
Options -Indexes

AddOutputFilterByType DEFLATE text/html text/plain text/css text/xml application/x-javascript text/javascript application/javascript
BrowserMatch \bMSIE\s6 !no-gzip gzip-only-text/html
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.[0678] no-gzip
