div#headercontent, div#navlistcont, .footerwrapper, div#navlistwrapper, .midwrapper {
	width: auto;
}

div#leftcolumn, div#rightcolumn  {
	float: none;
	width: auto;
}

div#leftcontent {
	display:none;
}
div#leftcontent.needed {
	display:block;
	position: relative;
	width: auto;
}
div#leftcontent.needed * {
	display:none;
}

div#leftcontent.needed p {
	display:inline;
}	
div#leftcontent.needed *.essen {
	display: inline;
	padding-right: 1em;
}
span.instronly {
	font-size: 80%;
}
div#centercontent {
	margin-left: 0px;
	padding-left: 0px;
}

div.navbar, div.navbar.fixedonscroll {
	float:none;
	position:relative;
	width: auto;
	margin-right:0px;
	left: 0px;
	margin-left: 0px;
}

div.navbar h4 {
	margin-bottom: 5px;
}
div.navbar p {
	display: inline;
	padding-right: 2em;
}
ul.qlist li {
	display: inline;
	white-space: nowrap;
	margin-left: 0px;
	margin-top: 0px;
}

div.navbar.fixedonscroll {
	padding-left: 20px;
}
div.navbar.fixedonscroll ul.qlist li {
	display: list-item;
}

div.inset {
	position: relative;
	overflow: visible;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
}
div#headercontent {
	display:none;
}
div#navlistcont {
	height: auto !important;
}
div.headerwrapper {	
	height: auto !important;
}
div.inactivewrapper span.instronly {
	visibility: visible !important;
}
div.breadcrumb {
	height: auto !important;
}
ul#navlist {
	width: 100% !important;
	margin: 0px !important;
}
ul#navlist a {
	padding-top: 0.3em !important;
	padding-bottom: 0.3em !important;
	border-bottom: 1px solid #fff;
}
.hideinmobile {
	display:none;
}
#homelinkbox {
	font-size: 90%;
}
div#logo {
	margin-left:0px;
	margin-rigth:0px;
}
div#logo img {
	max-width: 100%;
}
div#loginbox td {
	display: block;
}
span.form {
	width: auto;
	float: none;
	text-align: left;
	margin-bottom: 5px;
	padding-right: 0px;
}
span.formright {
	width: auto;
	float: none;
}
	
