div#headercontent, div#navlistcont, .footerwrapper, div#navlistwrapper, .midwrapper {
	width: auto;
}

div#leftcolumn, div#rightcolumn  {
	float: none;
	width: auto;
}

span#leftcontenttoggle.hideifnavlist, .hideifnavlist {
	display: none;
}

span#leftcontenttoggle {
	display: inline-block;
}

div#viewbuttoncont {
	float:none;
}
div.hiddenmobile {
	display:none;
}
div.hiddenmobile {
	display:none;
}
div#leftcontent:not(.treeleftcontent) {
	box-shadow: 0px 5px 10px rgba(0,0,0,.175);
	width: auto;
	padding: 10px;
	border-top-left-radius: 0px;
	z-index:100;
}

span.instronly {
	font-size: 80%;
}
div#centercontent {
	margin-left: 0px;
	padding-left: 0px;
}

div.navbar, div.navbar.fixedonscroll {
	float:none;
	position:relative;
	width: auto;
	margin-right:0px;
	left: 0px;
	margin-left: 0px;
}

div.navbar h4 {
	margin-bottom: 5px;
}
div.navbar p {
	display: inline;
	padding-right: 2em;
}
ul.navlist li {
	margin-bottom: 0px;
	margin-top: 0px;
}
ul.qlist li {
	display: inline;
	white-space: nowrap;
	margin-left: 0px;
	margin-top: 0px;
}
div.navbar.fixedonscroll {
	padding-left: 20px;
}
div.navbar.fixedonscroll ul.qlist li {
	display: list-item;
}

div.inset {
	position: relative;
	overflow: visible;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
}
div#headercontent {
	display:none;
}
div#navlistcont {
	height: auto !important;
}
div.headerwrapper {
	height: auto !important;
}
span.instronly {
	visibility: visible !important;
}
div.breadcrumb {
	height: auto !important;
}
ul#navlist {
	width: 100% !important;
	margin: 0px !important;
}
ul#navlist a {
	padding-top: 0.3em !important;
	padding-bottom: 0.3em !important;
	border-bottom: 1px solid #fff;
}
.hideinmobile {
	display:none;
}
.showinmobile {
	display:block;
}
#homelinkbox {
	font-size: 90%;
}
div#logo {
	margin-left:0px;
	margin-right:0px;
}
div#logo img {
	max-width: 100%;
}
div#loginbox td {
	display: block;
}
span.form {
	width: auto;
	float: none;
	text-align: left;
	margin-bottom: 5px;
	padding-right: 0px;
}
span.formright, span.wideformright {
	width: auto;
	float: none;
}
div.submit {
	width: auto;
}
span.formright input[type="text"], span.formright input[type="password"] {
	max-width: 100%;
}

/* Adapted from https://stackoverflow.com/questions/19735352/how-to-make-tinymces-modal-dialogs-responsive */
.mce-window:not(.mce-iniframe) {
	width: auto !important;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	background: none !important;
}
.mce-window > .mce-reset {
	height: 100% !important;
	display: flex !important;
	flex-flow: column nowrap !important;
}

.mce-window-head {
	background: #fff !important;
}

.mce-window-body {
	background: #fff !important;
}
.mce-foot > .mce-container-body {
	padding: 10px !important;
}

.mce-panel {
	max-width: 100% !important;
}

.mce-container {
	max-width: 100% !important;
	height: auto !important;
}

.mce-container-body {
	max-width: 100% !important;
	height: auto !important;
	flex-grow: 1 !important;
	overflow-y: auto !important;
}

.mce-form {
	padding: 10px !important;
}
.mce-iframe {
	margin-left: 10px !important;
	height: auto !important;
}

.mce-tabs {
	max-width: 100% !important;
}

.mce-formitem {
	margin: 10px 0 !important;
}

.mce-abs-layout-item {
	position: static !important;
	width: auto !important;
}

.mce-abs-layout-item.mce-label {
	display: block !important;
}

.mce-abs-layout-item.mce-textbox {
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	display: block !important;
	width: 100% !important;
}

.mce-abs-layout-item.mce-combobox {
	display: flex !important;
}

.mce-abs-layout-item.mce-combobox > .mce-textbox {
	-ms-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	height: 29px !important;
}
