html {
	height: 100%;
}
body {
	height: 100%;
	margin: 10px;
	padding: 0px;
}
div.item {
	margin-bottom: 10px;
	padding: 5px;
}
div.signup {
	border: 1px solid #000;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 5px;
}
div.itemsum {
	margin-left: 45px;
	margin-top: -.5em;
	margin-bottom: -.5em;
}
span.iteminfo {
	margin-left: 30px;	
}
div.title {
	/*display: inline;*/
	margin-left: 30px;
}
div.block, div.blockitems div.blockitems div.block {
	padding: 5px;
	margin-bottom: 10px;
}
div.blockitems, div.blockitems div.blockitems div.blockitems {
	padding: 10px;
	margin-top: -10px;
	margin-bottom: 10px;
}
div.hidden {
	display:none;
}
div.icon {
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 5px;
}
span.icon {
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 5px;
}
div.breadcrumb {
	border: 1px solid #000;
	margin-bottom: 10px;
	padding: 5px;	
	background-color: #ddddff;
}
div.cp {
	min-height: 1%;
	padding: 5px;
	margin-top: 20px;
}
div.cpmid {
	min-height: 1%;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
span.pointer {
	cursor:pointer;
}
ul.nomark {
	list-style-type: none;
	margin-left: 15px;
	padding-left: 0px;
}
ul.nomark li {
	margin-left: 0px;
	padding-left: 0px;
}

ul.qview {
	list-style-type: none;
	margin-left: 20px;
	padding-left: 0px;
	margin-bottom: 6px;
}
ul.qview li {
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 2px;
}
div#tbl-container {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	width:99.5%;
	height:auto;
	
}
table.gb {
	border-collapse: collapse;
	margin: 0px;
}

table.gb thead th {
	position: relative;
	text-align: center;
	z-index: 20;
	background-color: #fff;
}
td, th {
	margin: 0px;
	padding: 2px 5px 2px 5px;
}
tr {
	margin: 0px;
	padding: 0px;
}

td.c {
	text-align: center;
}
td.r {
	text-align: right;
}
span.form {
	display: block;
	width: 200px;
	float: left;
	margin-bottom: 10px;
	text-align: right;
	padding-right: 20px;
}
span.formright {
	display: block;
	width: 500px;
	float: left;
	margin-bottom: 10px;
	text-align: left;
}

span.wideformright {
	display: block;
	float: left;
	margin-bottom: 10px;
	text-align: left;
}

span.column {
	display: block;
	width: 200px;
	float: left;
	padding-right: 20px;
}

span.left {
	float: left;
}

input.form {
	display: block;
	width: 200px;
	float: left;
	margin-bottom: 10px;
}

div.submit {
	width: 400px;
	text-align: right;
}

br.form {
	clear: left;
}
img {
	border: 0;
}
div.right {
	text-align: right;	
}
span.right {
	float:right;	
}
.floatright {
	float:right;
}
.floatleft {
	float:left;
}
span.padright {
	float:right;
	padding-right: 120px;
}
.clear {
	clear: both;
}
span.hdr1 {
	font-size: 120%;
	font-weight: bold;
}
.small {
	font-size: 70%;
}
#leftcontent {
		position: absolute;
		left: 10px;
		width:170px;
		padding:5px;
		margin-top:10px;
}

#centercontent {
		margin-left:180px;
		padding-left:10px;
		margin-top:10px;
		margin-right: 10px;
}

.red {
	color: red;
}

table.cal {
	border-collapse: collapse;
	width: 100%;
}
table.cal thead th {
	text-align: center;
	background-color: #ddf;
	border: 1px solid #000;
}
table.cal td {
	border: 1px solid #000;
	width: 14%;
	height: 2.5em;
}
.day {
	font-size: 80%;
	background-color: #ddf;
}
.today {
	background-color: #fdd;
}
div.center {
	text-align: center;
}
div.td {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
img.faded {
	filter: alpha(opacity: 30);
	KHTMLOpacity: .3;
	MozOpacity: .3;
	opacity: .3;
}
div.ddmenu {
	position: absolute;
	right: 10px;
	visibility: hidden;
	margin: 0px;
	z-index: 100;
	padding: 5px;
	background: #eeffee;
}
.nowrap {
	white-space: nowrap;
}
.dpTable {
	font-size: 90%;
	text-align: center;
	color: #505050;
	background-color: #ece9d8;
	border: 1px solid #AAAAAA;
	}
.dpTD {
	border: 1px solid #ece9d8;
	}
.dpDayHighlightTD {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	}
.dpTDHover {
	background-color: #aca998;
	border: 1px solid #888888;
	cursor: pointer;
	color: red;
	}
.dpDayTD {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	color: white;
	}
.dpTitleText {
	font-weight: bold;
	}
.dpDayHighlight {
	color: #4060ff;
	font-weight: bold;
	}
.dpButton, .dpTodayButton {
	font-size: 90%;
	color: gray;
	background: #d8e8ff;
	font-weight: bold;
	padding: 0px;
	}
	
div.inactivewrapper, div.activewrapper {
	margin: 0px;
	padding: 0px;
}

