body {
	/*font-family: "Trebuchet MS", "Arial", "Helvetica", sans-serif;*/
	/*font-size: 90%;*/
}
html {
	height: 100%;
}
body {
	height: 100%;
	margin: 10px;
	padding: 0px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
div.item {
	border: 1px solid #000;
	margin-bottom: 10px;
	padding: 5px;
	background-color: #fff;
}
div.signup {
	border: 1px solid #000;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 5px;
}

div.editor {
	border: 1px solid #000;
}

div.itemsum {
	margin-left: 45px;
	margin-top: -.5em;
	margin-bottom: -.5em;
}

span.iteminfo {
	margin-left: 30px;	
}

div.title {
	/*display: inline;*/
	margin-left: 30px;
}

div.block, div.blockitems div.blockitems div.block {
	border: 1px solid #000;
	background-color: #ddf;
	padding: 5px;
	margin-bottom: 10px;
}

div.blockitems, div.blockitems div.blockitems div.blockitems {
	border: 1px solid #000;
	border-top: 0px;
	background-color: #eef;
	padding: 10px;
	margin-top: -10px;
	margin-bottom: 10px;
}
div.blockitems div.block {
	background-color: #dfd;
}
div.blockitems div.blockitems {
	background-color: #efe;
}
div.hidden {
	display:none;
}
div.icon {
	/*position: absolute;*/
	float: left;
	/*display: inline;*/
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 5px;
	color:#00d;	
	border: 1px solid #00f;
	font-weight: bolder;
}

div.breadcrumb {
	border: 1px solid #000;
	margin-bottom: 10px;
	padding: 5px;	
	background-color: #ddddff;
}

div.cp {
	min-height: 1%;
	border: 1px solid #000;
	background-color: #eee;
	padding: 5px;
	margin-top: 20px;
}
div.cpmid {
	min-height: 1%;
	border: 1px solid #000;
	background-color: #eee;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

span.pointer {
	cursor:pointer;
}
ul.nomark {
	list-style-type: none;
	margin-left: 15px;
	padding-left: 0px;
}
ul.nomark li {
	margin-left: 0px;
	padding-left: 0px;
}
div#tbl-container {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	width:99.5%;
	height:auto;
	
}

table thead th {
	font-weight:bold;
	cursor:pointer;
}

table.gb {
	border-collapse: collapse;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
table.gbl {
	border-collapse: collapse;
	margin: 0px;
}

table.gb thead th, table.gbl thead th, table.gbl thead th.locked {
	position: relative;
	border-bottom: 2px solid #00f;
	text-align: center;
	padding: 0.1em 0.5em;
	background-color: #eef;
}
table.gbl thead th {
	top: expression(document.getElementById("tbl-container").scrollTop-2); /* IE5+ only */
	z-index: 20;
}
table.gbl thead th.locked {z-index: 30;}

tr.even {
	background-color: #fff;	
}

tr.odd {
	background-color: #dfd;
}

tr.bordered  td {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
tr.highlight {
	background-color: #ddf;
}

tr.grid td {
	border: 1px solid #000;
}

table.gb td, table.gbl td {
	padding: 2px 5px 2px 5px;
}

table.gbl td.locked, table.gbl th.locked {
	left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); /* IE5+ only */
	position: relative;
	z-index: 10;
	border-right: 2px solid #00f;
}

table.gb .catdf {
	background-color: #eef;
}
table.gb .cat0 {
	background-color: #ddf;
}
table.gb .cat1 {
	background-color: #dfd;
}
table.gb .cat2 {
	background-color: #fdd;
}
table.gb .cat3 {
	background-color: #dff;
}
table.gb .cat4 {
	background-color: #ffd;
}
table.gb .cat5 {
	background-color: #fdf;
}
table.gb .cat6 {
	background-color: #aaf;
}
table.gb .cat7 {
	background-color: #afa;
}
table.gb .cat8 {
	background-color: #faa;
}
table.gb .cat9 {
	background-color: #aff;
}
.cattothdr {
	font-variant: small-caps
}

td.c {
	text-align: center;
}
td.r {
	text-align: right;
}

span.form {
	display: block;
	width: 200px;
	float: left;
	margin-bottom: 10px;
	text-align: right;
	padding-right: 20px;
}
span.formright {
	display: block;
	width: 500px;
	float: left;
	margin-bottom: 10px;
	text-align: left;
}

span.wideformright {
	display: block;
	float: left;
	margin-bottom: 10px;
	text-align: left;
}

span.column {
	display: block;
	width: 200px;
	float: left;
	padding-right: 20px;
}

span.left {
	float: left;
}

input.form {
	display: block;
	width: 200px;
	float: left;
	margin-bottom: 10px;
}

div.submit {
	width: 400px;
	text-align: right;
}

br.form {
	clear: left;
}
img {
	border: 0;
}
div.right {
	text-align: right;	
}
span.right {
	float:right;	
}
.floatright {
	float:right;
}
span.padright {
	float:right;
	padding-right: 120px;
}
.clear {
	clear: both;
}
span.hdr1 {
	font-size: 120%;
	font-weight: bold;
}
span.link {
	text-decoration: underline;
	color: #00f;
	cursor: pointer;
}

.small {
	font-size: 70%;
}

#leftcontent {
		position: absolute;
		left: 10px;
		width:170px;
		padding:5px;
		margin-top:10px;
		background:#eee;
		border:1px solid #000;
		color:#000;
		}

#centercontent {
		margin-left:180px;
		padding-left:10px;
		margin-top:10px;
		margin-right: 10px;
		background:#fff;

		}

.red {
	color: red;
}
