.editor-alignment
{
    margin-left: 178px;
}

.myEditor{
    /*width: 79% !important;*/
    height: auto;
    margin-left: 17px;
}
.visibility{
    padding-top: 10px;
}
label.inline-checkbox{
    padding-left: 0;
}
.radio label, .checkbox label{
    padding: 0;
}
.name-of-item{
    padding-top: 20px
}
.non-nav-tab-item{
    margin-top:30px
}
.editor-summary{
    margin-top: 20px
}
.input-item-title{
    width: 100%;
    height: 40px;
    border: #a9a9a9 1px solid;
}
.textarea-width{
    width: 100%;
}
.visibility-item{
    margin-top: 20px;
}
.youtube-video{
    margin-top: 20px;
}
.radio label.label-visible, .checkbox label.label-visible {
    padding-left: 0;
}
.group-wiki{
    padding-top: 15px;
}
.item-alignment{
    padding-top: 20px;
}
.padding-left{
    padding-left: 15px;
}
.margin-top{
    margin-top: 20px;
}
.padding-top{
    padding-top: 20px;
}
.padding-right{
    padding-right: 15px;
}
.padding-top-fifteen{
    padding-top: 15px;
}
.add-link-type-file p {
    margin-top: 0px;
    padding-top: 0px;
}
.add-link-padding {
    padding:  10px 15px 20px 15px !important;
}
.summary-inline-text table {
    width: 100%;
    max-width: 100% !important;
}
.add-link-date-font input, .add-forum-date-font input {
    font-size: 12px;
}
.add-link-summary-textarea table,.add-link-summary-textarea iframe,.add-forum-summary-textarea table,.add-forum-summary-textarea iframe {
    max-width: 100% !important;
}
.add-assessment-summary-textarea iframe, .add-wiki-summary-textarea iframe{
    max-width: 100% !important;

}
.add-assessment-summary-textarea table, .add-wiki-summary-textarea table {
    width: 100% !important;
}