html, body{
	margin: 0;
	padding: 0;
	width:100%;
	height:100%;
}
div {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
	padding-bottom: 5px;
}
.mainbody {
	margin: 0;
	padding: 0;
	position:absolute;
	width:100%;
	height:100%;
}
#msgbody {
	position:absolute;
	left:10px;
	right:180px;
	top:35px;
	bottom:150px;
	overflow:auto;
	border: 1px solid #000;
}
#inputarea {
	position:absolute;
	left:10px;
	right:10px;
	bottom:10px;
}
#users {
	position:absolute;
	right:10px;
	top:35px;
	width:165px;
	bottom:150px;
	overflow:auto;
	border: 1px solid #000;	
}
#userscontent {
	padding: 5px;
	color: #393;
}

#title {
	position: absolute;
	left: 10px;
	top: 5px;
	font-size: 25px;
}
#loading {
	position: absolute;
	right: 10px;
	top: 10px;
}
.user {
	color: #393;
	position: absolute;
	left: 5px;
	width: 100px;
}
.txt {
	position: relative;
	margin-left: 110px;
	padding-right: 5px;
}
.msg {
	clear: both;
}
.clear {
	height: 0px;
	line-height: 0px;
	clear: both;
}

