.roster-menu-bar-nav{
    background: #f8f8f8;
}
.roster-upper-content{
    padding: 15px;
}
.roster-upper-content:after{
    display: table;
    content: "";
    clear: both;
}
.page-title{
    font-size: 30px;
    color: #6d6d6d;
    text-transform: capitalize;
}
.col-lg-8.page-title{
    padding: 0;
    width: 64%;
}
.nav-tabs.nav-justified > .dropdown .enroll-options{
    background: #f8f8f8;
    padding: 0;

}
.nav-tabs.nav-justified > .dropdown .enroll-options > li > a {
    display: block;
    padding: 9px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #808080;
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
}
.nav-tabs.nav-justified > .dropdown .enroll-options > li > a :hover{
    color: #428bca;
}

.nav-tabs.nav-justified > .dropdown .enroll-options{
    background: #f8f8f8;
}
.col-lg-2.with-selected{
    padding-left: 0;
    padding-right: 0;
    width: 18%;
}
div.dataTables_info {
    padding-top: 8px;
    white-space: nowrap;
    padding-bottom: 15px;
}

.nav.nav-tabs.nav-justified > .open > a{
    background-color: #eee;
    border-color: #ddd;
}
.nav-tabs.nav-justified.roster-menu-bar-nav.sub-menu > li > a {
    border-bottom: none;
    border: 1px solid #ddd;
}
.sub-menu-bar-nav.sub-menu{
    background: #ffffff;
}
.caret.right-aligned {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.nav-tabs.roster-settings{
    border-bottom: none;
}
.roster-settings > li{
    width: 100%;
    background: #3441AC;
}
.roster-settings > li:active, .roster-settings > li .open, .roster-settings > li .visited{
    background: #3441AC;
}
.nav-tabs.roster-settings > li > a{
    color: #ffffff;
    padding: 5px 15px;
}
.nav-tabs.roster-settings > li > a:hover{
    background: #3075AC;
    text-decoration: none;
}
.nav-tabs.roster-settings > li > a:visited{
    background: #3075AC;
    text-decoration: none;
}
.roster-settings > li:hover{
    width: 100%;
    background: #3441AC;
    border: none;
    border-color: #3441AC;
}
.caret.caret-settings{
    margin-left: 25px;
}
.fa-cog.icon-nav{
    padding-right: 10px;
}
.nav-tabs.nav-justified.sub-menu-bar-nav > li > a{
    border-bottom: none;:
}
.nav-tabs.nav-justified > .dropdown .enroll-options > li > a:hover{
    color: #3075AC;
    background-color: #f5f5f5;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.btn-group.settings {
    display: inline-flex;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 80%;
}
.btn-group > .btn + .dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px;
    width: 20%;
}
.inner-content{
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 30px 25px 30px;
    border-radius: 2px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
.form-horizontal.enroll-form .form-group{
    margin-left: 0;
    margin-right: 0;
}
.title-middle{
    text-transform: capitalize;
    font-size: 30px;
    color: white;
    background-color: #6d6d6d;
    margin: 8px auto 28px;
    width: 100%;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    padding: 8px 0 12px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.checkbox.student-enroll label, .radio.student-enroll label{
    padding-left: 0;
    vertical-align: middle;
}
#datepicker-id > .input-group, #datepicker-id1 > .input-group{
    width: 210px;
    padding-left: 15px;
    padding-right: 15px;
}
.name{
    margin-top: 0px;
}
.margin-5{
    margin-top: 5px;
}
div.items-list > div > ul > li > ul {
    list-style-type: none;
    margin-top: 10px;
}
.items-list{
    background: #fafafa;
    padding: 15px;
}
.cr.margin-bottom{
    margin-bottom: 7px;
}
.alert.alert-margin-bottom{
    margin-bottom: 0px;
}
span.form.select-text-margin{
    padding-top: 0;
    padding-right: 5px;
}

.padding-left-right{
    padding-right: 5px;
    padding-left: 5px;
}
.items-list > ul > li{
    list-style-type: none;
}
.padding-top-five{
    padding-top: 5px;
}
.radio label.padding-left-zero, .checkbox label.padding-left-zero{
    padding-left: 0;
}
.roster-table {
    width: 100%;
    overflow: auto;
}

.align-login-view
{
    margin-left:30px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.myScrollTable
{
    overflow-x: scroll;
}

