.roster-menu-bar-nav{
    background: #f8f8f8;
}
.roster-upper-content{
    padding: 15px;
}
.roster-upper-content:after{
    display: table;
    content: "";
    clear: both;
}
.page-title{
    font-size: 30px;
    color: #6d6d6d;
}
.col-lg-8.page-title{
    padding: 0;
    width: 64%;
}
.nav-tabs.nav-justified > .dropdown .enroll-options{
    background: #f8f8f8;
    padding: 0;

}
.nav-tabs.nav-justified > .dropdown .enroll-options > li > a {
    display: block;
    padding: 9px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #808080;
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
}
.nav-tabs.nav-justified > .dropdown .enroll-options > li > a :hover{
    color: #428bca;
}

.nav-tabs.nav-justified > .dropdown .enroll-options{
    background: #f8f8f8;
}
.col-lg-2.with-selected{
    padding-left: 0;
    padding-right: 0;
    width: 18%;
}
.nav-tabs.nav-justified > .dropdown .selected-options{
    background: #f8f8f8;
    padding: 0;
    width: 100%;
}
.nav-tabs.nav-justified > .dropdown .selected-options > li > a {
    display: block;
    padding: 9px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #6d6d6d;
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
}
.nav-tabs.nav-justified > .dropdown .selected-options > li > a:hover{
    text-decoration: none;
    color: #3075AC;
}
div.dataTables_info {
    padding-top: 8px;
    white-space: nowrap;
    padding-bottom: 15px;
}
.with-selected-list{
    display: block;
    padding: 9px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #6d6d6d;
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
}
.with-selected-list:hover{
    text-decoration: none;
    color: #3075AC;
}
.nav.nav-tabs.nav-justified > .open > a{
    background-color: #eee;
    border-color: #ddd;
}
.nav-tabs.nav-justified.roster-menu-bar-nav.sub-menu > li > a {
    border-bottom: none;
    border: 1px solid #ddd;
}
.roster-menu-bar-nav.sub-menu{
    background: #ffffff;
}
.caret.right-aligned {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.nav-tabs.roster-settings{
    border-bottom: none;
}
.roster-settings > li{
    width: 100%;
    background: #3441AC;
}
.roster-settings > li:active, .roster-settings > li .open, .roster-settings > li .visited{
    background: #3441AC;
}
.nav-tabs.roster-settings > li > a{
    color: #ffffff;
    padding: 5px 15px;
}
.nav-tabs.roster-settings > li > a:hover{
    background: #3075AC;
    text-decoration: none;
}
.nav-tabs.roster-settings > li > a:visited{
    background: #3075AC;
    text-decoration: none;
}
.roster-settings > li:hover{
    width: 100%;
    background: #3441AC;
    border: none;
    border-color: #3441AC;
}
.caret.caret-settings{
    margin-left: 25px;
}
.fa-cog.icon-nav{
    padding-right: 10px;
}
.nav-tabs.nav-justified.roster-menu-bar-nav > li > a{
    border-bottom: none;:
}
.nav-tabs .settings-menu{
    width:100%;
    background: #f5f5f5;
    padding: 0;
}
.nav-tabs .settings-menu > li > a{
    border-bottom: 1px solid #ddd;
    padding: 8px;
    color: #6d6d6d;
}
.nav-tabs .settings-menu > li > a:hover{
    color: #3075AC;
}
.nav-tabs.nav-justified > .dropdown .enroll-options > li > a:hover{
    color: #3075AC;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 80%;
}
.btn-group > .btn + .dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px;
    width: 20%;
}
