.needed
{
    display: inline-block;
    margin-top: 10px;
    background-color: #ddddff;
    width: 15%;
    box-sizing: border-box;
    position: absolute;
    border-radius:10px;
    border: 2px solid #000000;
    padding: 20px;
}
a{
    margin-left: 15px;
}
.course
{
    margin-left: 19%;
}


