.margin-top
{
    margin-top: 20px;
    margin-left: 20%;
}
.change-assessment
{
    margin-left: 30px;
    margin-right: 30px;
}
.text-align
{
    text-align: -webkit-center;
}
.assesment-msg-table {
    margin-bottom: 10px;
    margin-top: 3px !important;
    border-collapse: collapse;
    /*margin: 0px;*/
    position: relative;
}
table.assesment-msg-table thead th {
    /*border-bottom: 2px solid #00f;*/
    position: relative;
    text-align: center;
    z-index: 20;
}
.width-hundread-per {
    width: 100%;
}
.margin-left-minus-thirty {
    margin-left: -30px !important;
}
.padding-left-fifteen {
padding-left: 15px !important;
}

.end-assesment-shadowbox {
    padding: 15px;
    padding-top: 23px;
    padding-bottom: 18px;
}
.margin-bottom-twenty-five {
margin-bottom: 25px;
}
.end-assesment-shadowbox td, .end-assesment-shadowbox th {
padding: 7px 0px 7px 0px;
}
span.hidden {
    display: none;
}

span.show {
    display: inline;
}

table td {
    border-bottom: 1px solid #ccf;
}

.assessment-body{
    margin-left: 35%;
}