.first
{
    float: left;
}
.second
{
    float: left;
}
.time-input{
    margin-left: 8%;
}
.datetime{
    width: 100%;
}
.bootstrap-timepicker{
    width: 82%;
}

.start
{
    float: left;
    margin-right: 12px;
    margin-top: 7px;
}
.end
{
    float: left;
    margin-right: 12px;
    margin-top: 7px;
    margin-left: -67px;
}
.blackTextField
{
    float: left;
    margin-left: 200px;
}

.font
{
    font: bold;
}

.radio-inline{
    padding-top: 0px !important;
}

#coursesettingform-showicons{
    padding: 0px;
}