.time-input{
    margin-left: 5px;
}
.datetime{
    width: 100%;
    margin-bottom: 25px !important;


}
.bootstrap-timepicker{
    width: 82%;
}
.blackTextField
{
    float: left;
    margin-left: 200px;
}

.font
{
    font: bold;
}

.radio, .checkbox{
    padding-top: 0px !important;
}
