div {
    zoom: 1;
}

.clearlooks2, .clearlooks2 div {
    zoom: normal;
}

.clear {
    line-height: 0;
}

#GB_overlay, #GB_window {
    position: absolute;
    top: expression(0+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');
    left: expression(0+((e=document.documentElement.scrollLeft)?e:document.body.scrollLeft)+'px');
}

div.breadcrumb {
    display: none;
}

#headerlogo {
    display: none;
}

span.AM {
    font-size: 105%;
}

div.pagetitle h2 {
    margin-top: 0px;
}

div {
    zoom: 1;
}
.clearlooks2, .clearlooks2 div {
    zoom: normal;
}
.dropdown
{
    height: 2.5em;
}
.clear {
    line-height: 0;
}
.password_checkbox{
    width: 36%;
    margin-left: -19px;
    text-align: right;
}
.notify_checkbox{
    width: 64%;
    text-align: center;
    margin-left: -3px;
}
.change-password-content{
    display: block;
    margin-left: 0px;
    width: 100%;
}

table.gb thead th{
    text-align: left;
}
.buttonAlignment{
    margin-top: 10px;
    margin-left: 185px;
}

.select-text-margin{
    margin-top: 7px;
}