div {
    zoom: 1;
}

.clearlooks2, .clearlooks2 div {
    zoom: normal;
}

.clear {
    line-height: 0;
}

#GB_overlay, #GB_window {
    position: absolute;
    top: expression(0+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');
    left: expression(0+((e=document.documentElement.scrollLeft)?e:document.body.scrollLeft)+'px');
}

div.breadcrumb {
    display: none;
}

#headerlogo {
    display: none;
}

span.AM {
    font-size: 105%;
}

div.pagetitle h2 {
    margin-top: 0px;
}

div {
    zoom: 1;
}
.clearlooks2, .clearlooks2 div {
    zoom: normal;
}
/*.dropdown*/
/*{*/
    /*height: 2.5em;*/
/*}*/
.clear {
    line-height: 0;
}
.password_checkbox{
    width: 36%;
    margin-left: -19px;
    text-align: right;
}
.notify_checkbox{
    width: 64%;
    text-align: center;
    margin-left: -3px;
}
.toggle-password{
    background-color: #f8f8f8;
    width:100%;
    height: 70%;
}

table.gb thead th{
    text-align: left;
}
.buttonAlignment{
    clear: both;
    margin-top: 20px;
    padding-left: 1.4%;
}
.change-password-content{
    display: block;
    margin-left: 0px;
    width: 100%;
}
.about-page
{
    float: left;
    margin-right: 20px;
}

.course-taking
{
    display:none;
}

.alignuserpicture
{

    margin-left: 48%;
}

.Timezone
{
    background-color: #F8f8f8;
    margin: 20px;
}
.submit-button-change-user-info
{
    margin-left: 20px;

}
.user-select {
width: 10.5% !important;
height: 34px !important;
}
.all-user-select {
display: inline-block !important;
padding-top: 2px !important;
margin-left: 20px !important;
}
.change-student-information-checkbox p {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}