div.forumgrp {
	/*margin-left: 30px;*/
	margin-left: 3%;
}


table.forum {
	border-collapse: collapse;
	width: 100%;
}
table.forum td {
	padding: 0.2em 0.5em;
	border:	1px solid #000;
}
table.forum tr.sticky {
	background-color: #dfd;
}
table.forum thead td {
	border-bottom: 2px solid #00f;
	text-align: center;
	padding: 0.1em 0.5em;
	background-color: #eef;
}

table.forum tr.tagged {
	background-color: #dff;
}

img.pointer {
	cursor: pointer;
}
img.pic {
	float: left;
	padding-right: 5px;
}
span.leftbtns {
	margin-top: -2px;
	float: left;
	padding-right: 5px;
}
span.leftbtns img {
	vertical-align: top;
}
.block {
	min-height: 36px;
}
.pseudohidden {
	overflow: hidden;
	height: 0;
	padding: 0;
	margin: 0;
}
.forumcattag {
	color: #090;
}
.likeicon {
	vertical-align: middle;
	border-radius: 8px;
	border: 0;
	padding: 5px;
	cursor: pointer;
}
.likewrap {
	float: left;
	padding-left: 8px;
}
.liked {
	background-color: #fe0;
}
.likedt {
	background-color: #0f0;
}
#move{

    text-align: center;
}

#forum-table {
    display:none;

}




#searchpost > div > label{
font-weight:400;
    font-family: "Times New Roman", Symbola, serif;

}

#postlabel > div > h4
{

    font-weight: bold;
    font-family: "Times New Roman", Symbola, serif;

}

#postlabel
{
padding-bottom: 10px;
}

.radio-inline{

    padding-left: 3% !important;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px !important;
}
.circular-profile-image{
    width: 60px;
    height: 62px;
    border-radius: 50%;
    background-image: none;
    background-position: center center;
    background-size: cover;
}

.replyTo
{

    margin-top: 20px;
}

.Search-btn
{


}
.main-div{
    padding: 15px;
}
#search_text
{

    height: 35px;
    margin-right: 10px;
}

.search-dropdown
{

    height: 30px;
    width: 30px;
    
}
.form-control-forum{
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
}
.forum-background
{
    background-color: #f8f8f8;
    padding: 15px;
    height: 60px;
}
/*#forum_search{*/
    /*background-color: #1460AA;*/
    /*color: white;*/
    /*border-radius: 0px;*/
    /*height: 34px;*/
    /*width: 9%;*/
/*}*/
.btn1{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
}
.message-reply > a:hover{
    color:white;
    text-decoration: none;
}

.second-level-div
{
    margin-right: 16px;
}
.new-post{

    color: #12856E;

}

.btn.btn-primary.add-new-thread{
    color: #FFF;
    background-color: #008E71;
    border-color: #285E8E;
    border-radius: 0px;
}
.inner-content
{
    height: 100%;
    width: 100%;
    background-color:#f8f8f8;
}
.view-drop-down{
    padding-top: 10px;
}

select > option{
    background-color: #f8f8f8;
}
.mark-as-read-link{
    padding-top: 18px;
    margin-left: 11px;

}
.btn.btn-primary.search-button
{

    background-color: #1460AA;
    color: white;
    border-radius: 0px;
}
.checkbox-thread{
    padding-top: 8px;
    margin-left: 11px;
    margin-right: 15px;

}
.new-tag {

    background-color: #12866E;
    color: #FFF;
    text-align: center;
    border-radius: 0px;
    width: 40px;
    font-size: x-small;
    padding: 4px;
    font-weight: bolder;
}
.user-name
{
    width:auto;
}
.main-name-div{
    width: 200px;
}

.btn-primary.flag-btn {
    color: #FFF;
    background-color: #1460AA;
    border-color: #357EBD;
    border-radius:0px;
    width:73px;
    margin: 0px;
}

.btn-primary.dropdown-toggle{
    color: #FFF;
    background-color: #1460AA;
    border-color: #357EBD;
    border-radius:0px;
}
.view-message-inner-contents
{
    height: auto;
    background-color: #F8f8f8;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    min-height: 365px;
}
.title-middle{
    text-transform: capitalize;
    font-size: 30px;
    color: white;
    background-color: #f8f8f8;
    width: 100%;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    padding: 8px 0 12px;
}
.title-option
{
    margin-left: 50px;
}
.align-option
{

    margin-bottom: 2px;
}

.checkbox.student-enroll label, .radio.student-enroll label{
    padding-left: 0;
    vertical-align: middle;

}
.title-middle-option{

    text-transform: capitalize;
    font-size: 15px;
    color: white;
    background-color: #6d6d6d;
    width: 24%;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    padding: 8px 0 12px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    height: 38px;

}
.radio .cr .cr-icon.align-check {
    margin-left: -1px;
}

.btn.btn-primary.search-button.align-btn {
    margin-bottom:10px;
}

.checkbox-thread > label{
    margin-top: 9px;
}
#move-forum
{

    padding-top: 10px;
    padding-bottom: 10px;
}
#move-thread{

    padding-top: 10px;
    padding-bottom: 10px;
}
.student-enroll{
    padding-top: 10px;
}
.buttons-div
{
margin-top: 10px;
}

.subject-label
{
    padding-top: 5px;
    padding-right: 0px !important;
    padding-left: 74px!important;
}
.inside-tab
{
    padding-top: 30px;

}
.editor-div{
    margin-top: 20px;

}
.message-div{
    padding-bottom: 20px;
}
.message-label
{
    padding-right: 0px !important;
    padding-left: 74px!important;
}

.btn-primary.disable-btn-not-allowed{
    pointer-events: auto;
    cursor: not-allowed;
}
.align-title{
    margin-top: 11px;
    padding-right: 0px !important;
    padding-left: 74px!important;
}
.btn-color
{
    background-color: #12856D;
    color:whitesmoke;
    border-radius:0px !important;
}
.btn-primary-1 {
    color: #FFF;
    background-color: #12856D;
    color:whitesmoke;
    text-transform: capitalize;
    border-radius: 0px;
}
.hide-hover > a:hover{
    text-decoration: none;
    color: #FFF;
}
.inner-reply-msg-content
{
    background-color: #f8f8f8;
    width: auto;
    height: 800px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.padding-top
{
    padding-top: 40px;
}
.Align-buttons-post
{
    padding-top: 50px;
    margin-left: 20px;
}

.Align-link-post
{
    margin-left: 20px;
}

.Align-block{
    margin-left: 20px;
    margin-right: 20px;
}
.padding-five
{
    padding-bottom:5px;
}
.margin-left-ten{
    margin-left: 10px;
}

.center{
    text-align: center;
}

.right{
    text-align: center;
}

.btn.btn-primary.search-button
{
    margin-bottom: 3px;
}

.align-new-post-table
{
margin: 20px;
}
.no-notifictn
{

    margin-left: 50px;
    margin-right: 50px;
}
.padding-post-label {
    padding: 17px 30px 30px 30px;
}
.padding-main-body {
    padding: 0 30px 30px 30px;
}
.blockitems p{
    padding-left: 10px;
}
.margin-bottom-twentyfive {
    margin-bottom: 25px;
}
.post-btn-color {
    background-color: #12856D !important;
    color:whitesmoke !important;
    border-radius:0px !important;
    border: none;
}
.hide-button {
    color: #000 !important;
    background-color: #eee !important;
    border: 1px solid #ccc !important;
    border-radius: 0px !important;
    font: inherit !important;
    height:2.5em !important;
    padding: 0 8px !important;
    margin: 2px 3px !important;
}
.hide-button:focus,.hide-button:hover {
    background-color: #e3e3ff !important;
}
.thread-dropdown {
    width: 100%;
    min-width: 98px !important;
}
.thread-dropdown > li > a {
    padding: 3px 10px !important;
}
table.search-forum {
    border-collapse: collapse;
    width: 100%;
}
table.search-forum td {
    padding: 0.2em 0.5em;
    border:	1px solid #000;
}
table.search-forum tr.sticky {
    background-color: #dfd;
}
table.search-forum thead td {
    border-bottom: 2px solid #00f;
    text-align: center;
    padding: 0.1em 0.5em;
    background-color: #eef;
}

table.search-forum tr.tagged {
    background-color: #dff;
}
.post-reply-message-textarea table,.post-reply-message-textarea iframe {
    max-width: 100% !important;
}

.white-color{
    color: #ffffff;
}

.right-align{
    text-align: right;
}


