div.forumgrp {
	/*margin-left: 30px;*/
	margin-left: 3%;
}


table.forum {
	border-collapse: collapse;
	width: 100%;
}
table.forum td {
	padding: 0.2em 0.5em;
	border:	1px solid #000;
}
table.forum tr.sticky {
	background-color: #dfd;
}
table.forum thead td {
	border-bottom: 2px solid #00f;
	text-align: center;
	padding: 0.1em 0.5em;
	background-color: #eef;
}

table.forum tr.tagged {
	background-color: #dff;
}

img.pointer {
	cursor: pointer;
}
img.pic {
	float: left;
	padding-right: 5px;
}
span.leftbtns {
	margin-top: -2px;
	float: left;
	padding-right: 5px;
}
span.leftbtns img {
	vertical-align: top;
}
.block {
	min-height: 36px;
    
}
.pseudohidden {
	overflow: hidden;
	height: 0;
	padding: 0;
	margin: 0;
}
.forumcattag {
	color: #090;
}
.likeicon {
	vertical-align: middle;
	border-radius: 8px;
	border: 0;
	padding: 5px;
	cursor: pointer;
}
.likewrap {
	float: left;
	padding-left: 8px;
}
.liked {
	background-color: #fe0;
}
.likedt {
	background-color: #0f0;
}
#move{

    text-align: center;
}

#forum-table {
    display:none;

}




#searchpost > div > label{
font-weight:400;
    font-family: "Times New Roman", Symbola, serif;

}

#postlabel > div > h4
{

    font-weight: bold;
    font-family: "Times New Roman", Symbola, serif;

}

#postlabel
{
padding-bottom: 10px;
}

.radio-inline{

    padding-left: 3% !important;
}
#noThread{

    margin-top: 5%;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px !important;
}
.circular-profile-image{
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-image: none;
    background-position: center center;
    background-size: cover;
}

.replyTo
{

    margin-top: 20px;
}

.Search-btn
{


}
.main-div{
    padding: 15px;
}
/*#forum_search{*/
    /*background-color: #1460AA;*/
    /*color: white;*/
    /*border-radius: 0px;*/
    /*height: 36px;*/
    /*width: 9%;*/
/*}*/

#search_text
{

    height: 32px;
    text-align: center;
    width: auto;
}

.search-dropdown
{

    height: 30px;
    width: 30px;
    
}
.form-control-forum{
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;


}
.forum-background
{
    background-color: #f8f8f8;
    padding: 15px;
    height: 60px;
    margin-right: 12px;
}
#forum_search{
    background-color: #1460AA;
    color: white;
    border-radius: 0px;
    height: 34px;
    width: 9%;
}
.btn1{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
}
.message-reply > a:hover{
    color:white;
    text-decoration: none;
}

.second-level-div
{

    margin-right: 3px;
}
.new-post{

    color: #12856E;

}

.btn.btn-primary.add-new-thread{
    color: #FFF;
    background-color: #008E71;
    border-color: #285E8E;
    border-radius: 0px;
}
.inner-content
{
    height: 60px;
    width: 100%;
    background-color:#f8f8f8;
}
.view-drop-down{
    padding-top: 10px;
}

select > option{
    background-color: #f8f8f8;
}
.mark-as-read-link{
    padding-top: 18px;
    margin-left: 11px;

}
.btn.btn-primary.search-button
{

    background-color: #1460AA;
    color: white;
    border-radius: 0px;
}
.checkbox-thread{
    padding-top: 8px;
    margin-left: 11px;
    margin-right: 15px;

}
input[type=button].new-tag {

    background-color: #12866E;
    color: #FFF;
    text-align: center;
    border-radius: 0px;
    border-color: #FFF;
    font: inherit;
     height: 22px;
    margin-left: 8px;

}
.btn-primary.flag-btn {
    color: #FFF;
    background-color: #1460AA;
    border-color: #357EBD;
    border-radius:0px;
    width:73px;
}

.btn-primary.dropdown-toggle{
    color: #FFF;
    background-color: #1460AA;
    border-color: #357EBD;
    border-radius:0px;
}
.view-message-inner-contents
{
    height: auto;
    background-color: #F8f8f8;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.title-middle{
    text-transform: capitalize;
    font-size: 30px;
    color: white;
    background-color: #6d6d6d;
    width: 100%;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    padding: 8px 0 12px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.title-option
{

    margin-left: 50px;
    margin-top: 50px;
}
.align-option
{

    margin-bottom: 2px;
}

.checkbox.student-enroll label, .radio.student-enroll label{
    padding-left: 0;
    vertical-align: middle;
}
.title-middle-option{

    text-transform: capitalize;
    font-size: 15px;
    color: white;
    background-color: #6d6d6d;
    width: 24%;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    padding: 8px 0 12px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    height: 38px;
}
.radio .cr .cr-icon.align-check {
    margin-left: -1px;
}

.btn.btn-primary.search-button.align-btn {
    margin-bottom:10px;
}