.item-analysis
{
    margin-left: 30px;
    margin-right: 30px;
}
.text
{
    margin-left: 35%;
}
.scorebarinner {
    height:10px;
    font-size:1px;
    display:-moz-inline-box;
    display:inline-block;
    position:relative;
    left:0px;
    top:0px;

}
.red-text
{
    color:#f00;
}
.item-result-border
{
    border:1px solid #000;padding:10px;margin-bottom:10px;clear:left;
}
.item-result-answer
{
    float:left;width:35%;
}
.item-result-question
{
    float:left;width:60%;margin-left:10px;
}
.black-text
{
    color: black;
}
.right-side
{
    float:right
}
th, td { white-space: nowrap; }
div.dataTables_wrapper {
    width: 1024px;
    margin: 0 auto;
    border: 0px;
}

.suggestion_list
{
    background: white;
    border: 1px solid;
    padding: 0px;
}

.suggestion_list ul
{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.suggestion_list a
{
    text-decoration: none;
    color: navy;
    padding: 5px;
}

.suggestion_list .selected
{
    background: #99f;
}

tr#quickadd td {
    border-bottom: 1px solid #000;
}


#autosuggest
{
    display: none;
}
.margin-top-minus-fourty {
    margin-top:-40px !important;
}
.margin-right-minus-fifteen {
    margin-right: -15px !important;
}
.add-rubic-form {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 30px;
    padding-bottom: 25px;
}
.margin-top-minus-nine-pt-five {
    margin-top: -9.5% !important;
}

#rubic-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.edit-rubric-form {
    background-color: #E0E0E0;
    min-height: 305px !important;
    width: 95% !important;
    margin-left: 30px !important;
}
.padding-top-twenty-five {
    padding-top: 25px !important;
}

.section
{
    margin-top: 4px;
}
.text-area-padding
{
    margin-bottom: 15px;
}
.drop-down-width
{
    width: 19%!important;
}

.link-drop-down{
    width: 178px!important;
}

.export-to-height
{
    height: 42px !important;
    /*width: 60% !important;*/
}

.drop-down-entity-width
{
    top: auto;
    left: auto;
    /*min-width: 80% !important;*/
}
.drop-down-entity-width-With-selected
{
    top: auto;
    left: auto;
    /*min-width: 72% !important;*/
}

.dropdown-header{
    font-size: 14px!important;
    color: #333!important;
    font-weight: bold;
}

.offline-grade-header {
    background-color: #f8f8f8;
    height: 60px;
    padding-top: 21px;
}
.offline-grade-padding {
    padding: 25px 30px 25px 30px !important;
}
.offline-grade-save-btn, .upload-multiple-grade-submit-btn {
    width: 70px;
    margin-right: 10px;
}
.upload-mutiple-grade-padding {
    padding: 20px 25px 20px 30px !important;
}
.form-control-gradebook
{
    width: 46%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.gradebook-export-file-header {
    background-color: #E0E0E0;
    height: 60px;
    padding-top: 21px;
}
.gradebook-export-file-padding {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
}
.add-grade-name-left-margin {
    margin-left: 28px;
}

.add-grade-name-left-padding {
    padding-left: 14px !important;
}

.padding-top-thirty {
    padding-top: 30px;
}
.upload-gradebook-user-identity {
    display: block;
    width: 500px;
    float: left;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 13%;
}
.file-has-header-row label {
    margin-right: 20px;
}
.upload-comments-btn {
    width: 72px;
    height: 35px;
}
.comments-in-columns label {
    padding-top: 7px;
}
.upload-gradebook-comments-padding {
padding: 15px 10px 30px 0px;
}
.upload-comments-submit-btn {
float: right;
margin-top: -12.4%;
margin-right: -10px;
}
.modify-gradebook-comments-background {
    background-color: #f8f8f8;
    height: 60px;
    padding-top: 21px;
}
.upload-grade-submit-btn {
    width: 72px;
    height: 35px;
}
.feedback-in-column  label, .grade-in-column label {
    padding-top: 7px;
}
.file-header label {
    padding-bottom: 5px;
}
.gradebook-view-assessment-link {
    background-color: #F0F0F0;
    min-height: 60px !important;
}
.gradebook-view-assessment-sub-link {
    background-color: #F8F8F8;
    min-height: 60px !important;
}
.question-form-control input[type="text"] {
display: inline-block;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.show-after-date-picker input, .show-after-time-picker input {
    padding: 0px 0px 0px 2px;
}
.show-after-time-picker .bootstrap-timepicker {
    width:100%;
}
.max-width-six-hundread-ten {
    max-width: 610px;
}
.max-width-three-hundread {
    max-width: 300px;
}
.diagnostic-gradebook-table {
    order-bottom: 2px solid #00f;
    background-color: #eef;
    color: #000000;
}
