.btn-color
{
    background-color: #12856D;
    color: #FFF;
}
/*.btn-primary-1*/
/*{*/
/*color: #FFF;*/
/*background-color: #12856D;*/
/*text-transform: capitalize;*/
/*border-radius: 0px;*/
/*}*/

.align-groups
{

    margin-left: 6%;
    margin-right: 30%;
    margin-bottom: 3%;

}
.group-background-div
{
    height: 100%;
    background-color:#f8f8f8;

}
input[type="submit"]:focus, button:focus, input[type="button"]:hover, a.abutton:hover, input[type="submit"]:hover, button:hover, input[type="button"]:hover, a.abutton:hover
{
    color: #ffffff;
}

.circular-profile-image{
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-image: none;
    background-position: center center;
    background-size: cover;
}

.form-control-grp
{
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;;
}

.with-selected
{
    margin-right: 5px;
}

.add-grp-btn
{
    width: 122px;
    margin-left: 5px;
}

.margin-left-groups
{
    margin-left: 143px;
}
.margin-left-groups-set
{
    margin-left: 122px;
}
.stu-list
{
    margin-left: -2px!important;
}