html {

}
body {

    margin: 10px;
    padding: 0px;
}
div {
    margin: 0px;
    padding: 0px;
}
p {
    margin: 0;
    padding: .5em 0;
}
.margin-ten{
    margin: 10px;
}
br {
    line-height: 1em;
}
div.pagetitle h2 {
    margin: 10px 0px 20px 0px;
}
div.item {
    margin-bottom: 20px;
    /*padding-right: 5%;*/
    padding-top: 20px;
    padding-left: 15px;
    margin-left: 80px;
    min-height: 100px;
    /*border-radius: 5px;*/
}
div.signup {
    border: 1px solid #000;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
}
div.itemsum {
    margin-left: 45px;
    /*margin-top: -.5em;
    margin-bottom: -.5em;*/
}
span.iteminfo {
    margin-left: 30px;
}
div.title {
    /*display: inline;*/

    margin-left: 35px;
}
div.block, div.blockitems div.blockitems div.block {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px 4px 0 0;
}
div.blockitems, div.blockitems div.blockitems div.blockitems {
    padding-top: 20px;
    margin-top: -10px;
    margin-bottom: 20px;
}
div.hidden {
    display:none;
}
div.icon {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}
span.icon {
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}
div.breadcrumb {
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #ddddff;
}
div.cp {
    min-height: 1%;
    padding: 5px;
    margin-top: 20px;
    /*border-radius: 4px;*/
}
div.cpmid {
    min-height: 1%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    margin: 10px;
}
.pointer {
    cursor:pointer;
}
ul.nomark {
    margin-top: 5px;
    list-style-type: none;
    margin-left: 10px;
    padding-left: 0px;
}
ul.nomark li {
    margin-left: 0px;
    padding-left: 5px;
}

ul.qview {
    list-style-type: none;
    margin-left: 20px;
    padding-left: 0px;
    margin-bottom: 6px;
}
ul.qview li {
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 2px;
}
div#tbl-container {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    width:99.5%;
    height:auto;

}
table.gb {
    border-collapse: collapse;
    margin: 0px;
    position:relative;
}

table.gb thead th {
    position: relative;
    text-align: center;
    z-index: 20;
    background-color: #fff;
}
td, th {
    margin: 0px;
    padding: 7px 5px 7px 5px;
}
tr {
    margin: 0px;
    padding: 0px;
}

td.c {
    text-align: center;
}
td.r {
    text-align: right;
}
span.form {
    display: block;
    float: left;
    margin-bottom: 10px;
    text-align: right;
    padding-left: 25px;
    padding-top: 35px;
}
span.formright {
    display: block;
    float: left;
    margin-bottom: 10px;
    text-align: left;
    /*padding-left: 40px;*/
    /*padding-top: 20px;*/
}

span.wideformright {
    display: block;
    float: left;
    margin-bottom: 10px;
    text-align: left;
}

span.column {
    display: block;
    width: 200px;
    float: left;
    padding-right: 20px;
}

span.left {
    float: left;
}

input.form {
    display: block;
    width: 200px;
    float: left;
    margin-bottom: 10px;
}

div.submit {
    width: 400px;
    text-align: right;
}

br.form {
    clear: left;
}
img {
    border: 0;
}
img.mida {
    vertical-align: middle;
}
div.right {
    text-align: right;
}
span.right {
    float:right;
}
.floatright {
    float:right;
}
.floatleft {
    float:left !important;
}
span.padright {
    float:right;
    padding-right: 120px;
}
.clear {
    clear: both;
}
br.clear {
    line-height: 0px;
    height: 0px;
}
span.hdr1 {
    font-size: 120%;
    font-weight: bold;
}
.small {
    font-size: 70%;
}
#leftcontent {
    position: absolute;
    left: 0px;
    width:170px;
    padding:5px;
    margin-top:10px;
    border-radius: 5px;
}

#centercontent {
    margin-left:180px;
    padding-left:10px;
    margin-top:10px;
    margin-right: 10px;
}

.midwrapper {
    position: relative;
}

.red {
    color: red;
}

table.cal {
    border-collapse: collapse;
    width: 100%;
}
table.cal thead th {
    text-align: center;
    background-color: #ddf;
    border: 1px solid #000;
}
table.cal td {
    border: 1px solid #000;
    width: 14%;
    height: 2.5em;
    vertical-align: top;
}
.day {
    font-size: 80%;
    background-color: #ddf;
}
.today {
    background-color: #fdd;
}
div.center {
    text-align: center;
}
span.calitem {
    line-height: 120%;
    padding: 0 3px;
}
/*
div.td {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
*/
img.faded {
    filter: alpha(opacity: 30);
    KHTMLOpacity: .3;
    MozOpacity: .3;
    opacity: .3;
}
div.ddmenu {
    position: absolute;
    right: 10px;
    visibility: hidden;
    margin: 0px;
    z-index: 100;
    padding: 5px;
    background: #eeffee;
}
.nowrap {
    white-space: nowrap;
}
.dpTable {
    font-size: 90%;
    text-align: center;
    color: #505050;
    background-color: #ece9d8;
    border: 1px solid #AAAAAA;
}
.dpTD {
    border: 1px solid #ece9d8;
}
.dpDayHighlightTD {
    background-color: #CCCCCC;
    border: 1px solid #AAAAAA;
}
.dpTDHover {
    background-color: #aca998;
    border: 1px solid #888888;
    cursor: pointer;
    color: red;
}
.dpDayTD {
    background-color: #CCCCCC;
    border: 1px solid #AAAAAA;
    color: white;
}
.dpTitleText {
    font-weight: bold;
}
.dpDayHighlight {
    color: #4060ff;
    font-weight: bold;
}
.dpButton, .dpTodayButton {
    font-size: 90%;
    color: gray;
    background: #d8e8ff;
    font-weight: bold;
    padding: 0px;
}

div.inactivewrapper, div.activewrapper {
    margin: 0px;
    padding: 0px;
}

div.tips {
    border: 1px solid #000;
    background-color: #cff;
    position: absolute;
    padding: 5px;
    z-index: 100;
}

#headerlogo {
    position: absolute;
    right:0px;
    top: 7px;
    cursor: pointer;
}
a {
    outline: none;
}
a:link:focus {
    text-decoration: underline;
}
ul#navlist
{
    clear: both;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    float: left;
    width: 100%;
    color: #fff;
    background-color: #036;
}

ul#navlist li {
    display: inline;
}

ul#navlist li a
{
    float: left;
    /*width: 5em;*/
    color: #fff;
    background-color: #036;
    padding: 0.2em 1em;
    text-decoration: none;
    border-right: 1px solid #fff;
}

ul#navlist li a:hover, ul#navlist li a:focus
{
    background-color: #369;
    color: #fff;
}

div.additembox {
    margin-bottom: 2px;
}
div.additembox span {
    font-size: 85%;
    background-color: #ccc;
    padding: 0 10px;
}

.newnote {
    color: #f00;
}
div#leftcolumn {float: left; width: 30%; min-width: 230px;}
div#rightcolumn {float: right; width: 68%; min-width: 200px;}

@media (max-width:805px) {
    div#leftcolumn, div#rightcolumn  {
        float: none;
        width: auto;
    }
}

ul.courselist {
    margin: 5px;
    margin-left: 0px;
    margin-top: 0px;
}
ul.courselist li {
    border-bottom: 1px solid #999;
    padding: 1px 5px;
}
ul.courselist li:last-child {
    border: 0;
    margin-bottom: 15px;
}
div.block h3 {
    margin: 2px;
}
div#viewbuttoncont {
    float: right;
    background: #fff;
}
div#viewbuttoncont a {
    color: #fff;
    display: inline-block;
    padding: 3px 5px;
    margin-left: 2px;
}
div#viewbuttoncont a:hover, div#viewbuttoncont a:focus {
    text-decoration: none;
}
div#viewbuttoncont a.buttonactive {
    background-color: #369;
    cursor: default;
    border-radius: 4px;
}
div#viewbuttoncont a.buttoninactive {
    background-color: #69a;
    border-radius: 4px;
}
div#viewbuttoncont a.buttoninactive:hover {
    background-color: #036;
}
a.abutton {
    padding: 3px 8px;
    display: inline-block;
}
a.abutton, a.abutton:hover, a.abutton:focus {
    text-decoration: none;
}
input[type=submit],input[type=button], button, a.abutton, {
    color: #000;
    background-color: #eee;
    border-radius: 0px;
    border: 1px solid #ccc;
    font: inherit;
    height:2.5em;
    padding: 0 8px;
    margin: 2px 3px;
}
input[type=submit].secondarybtn,input[type=button].secondarybtn, button.secondarybtn {
    background-color: #f9f9f9;
}
input[type=submit]:hover, button:hover,input[type=button]:hover, a.abutton:hover {
    background-color: #e3e3ff;
}
input[type=submit]:focus, button:focus,input[type=button]:focus, a.abutton:focus {
    background-color: #e3e3ff;
}
#GB_overlay {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    z-index: 100;
    width:  100%;
    height: 100%;
    opacity: 0.65;
    -moz-opacity: 0.65; /* older Gecko-based browsers */
    filter:alpha(opacity=65); /* For IE6&7 */
    background-color: #000;
}

#GB_window {
    top: 10px;
    left: 0px;
    position: fixed;
    background: #fff;
    border: 3px solid #369;
    overflow: auto;
    width: 400px;
    height: 400px;
    z-index: 150;
    -webkit-overflow-scrolling: touch;
}

#GB_frame {
    border: 0;
    overflow: auto;
    width: 100%;
    height: 378px;
}

#GB_caption {
    color: #fff;
    background: #369;
    padding: 2px 0 2px 5px;
    margin: 0;
    text-align: left;
}

ol li ol {
    list-style-type: lower-alpha;
}

svg {
    overflow: hidden;
}

table.gridded {
    border-collapse: collapse;
    margin: 0px;
}
table.gridded.centered {
    margin: 0px auto;
}

table.gridded thead th, table.gridded thead td {
    text-align: center;
    z-index: 20;
    background-color: #eef;
    border: 1px solid #333;
    font-weight: bold;
    border-bottom: 2px solid #333;
}
table.gridded td {
    border: 1px solid #333;
}
table.gridded tbody th {
    z-index: 20;
    background-color: #eef;
    border: 1px solid #333;
    font-weight: bold;
    border-right: 2px solid #333;
}
span.boxed {
    border: 1px solid #000;
    padding: 2px 5px;
}
a.attach {
    padding-left: 20px;
}

div.multiselitem {
    /*background-color: #eee;*/
    margin-bottom: 2px;
}
.videoembedbtn {
    color: #999;
    cursor: pointer;
}
.ind1 {
    margin-left: .75em;
}
.ind2 {
    margin-left: 1.5em;
}
.ind3 {
    margin-left: 2.25em;
}
.ind4 {
    margin-left: 3em;
}
.delx {
    font-family: sans-serif;
    color: #999;
    float: right;
    cursor: pointer;
}
.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}
.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}
.video-wrapper-wrapper{width:100%;padding:0;}

/*.vidmute { background: url(img/vidicons.png) no-repeat 0px 0px; width:24px; height:20px; display: inline-block;}*/
/*.vidmute:hover { background: url(img/vidicons.png) no-repeat -24px 0px; width:24px; height:20px; display: inline-block;}*/
/*.vidmuteI { background: url(img/vidicons.png) no-repeat -48px 0px; width:24px; height:20px; display: inline-block;}	*/
/*.vidvol { background: url(img/vidicons.png) no-repeat 0px -24px; width:24px; height:20px; display: inline-block;}*/
/*.vidvol:hover { background: url(img/vidicons.png) no-repeat -24px -24px; width:24px; height:20px; display: inline-block;}*/
/*.vidvolI { background: url(img/vidicons.png) no-repeat -48px -24px; width:24px; height:20px; display: inline-block;}	*/
/*.vidpause { background: url(img/vidicons.png) no-repeat 0px -48px; width:24px; height:20px; display: inline-block;}*/
/*.vidpause:hover { background: url(img/vidicons.png) no-repeat -24px -48px; width:24px; height:20px; display: inline-block;}*/
/*.vidpauseI { background: url(img/vidicons.png) no-repeat -48px -48px; width:24px; height:20px; display: inline-block;}		*/
/*.vidrew { background: url(img/vidicons.png) no-repeat 0px -72px; width:24px; height:20px; display: inline-block;}*/
/*.vidrew:hover { background: url(img/vidicons.png) no-repeat -24px -72px; width:24px; height:20px; display: inline-block;}*/
/*.vidrewI { background: url(img/vidicons.png) no-repeat -48px -72px; width:24px; height:20px; display: inline-block;}	*/
/*.vidff { background: url(img/vidicons.png) no-repeat 0px -96px; width:24px; height:20px; display: inline-block;}*/
/*.vidff:hover { background: url(img/vidicons.png) no-repeat -24px -96px; width:24px; height:20px; display: inline-block;}*/
/*.vidffI { background: url(img/vidicons.png) no-repeat -48px -96px; width:24px; height:20px; display: inline-block;}	*/
/*.vidplay { background: url(img/vidicons.png) no-repeat 0px -120px; width:24px; height:20px; display: inline-block;}*/
/*.vidplay:hover { background: url(img/vidicons.png) no-repeat -24px -120px; width:24px; height:20px; display: inline-block;}*/
/*.vidplayI { background: url(img/vidicons.png) no-repeat -48px -120px; width:24px; height:20px; display: inline-block;}	*/
/*.vidtracksA { background: url(img/vidicons.png) no-repeat 0px -144px; width:24px; height:20px; margin-right: 5px; display: inline-block;}*/
/*.vidtracksA:hover { background: url(img/vidicons.png) no-repeat -24px -144px; width:24px; height:20px; margin-right: 5px; display: inline-block;}*/
/*.vidtracks { background: url(img/vidicons.png) no-repeat 0px -168px; width:24px; height:20px; margin-right: 5px; display: inline-block;}*/
/*.vidtracks:hover { background: url(img/vidicons.png) no-repeat -24px -168px; width:24px; height:20px; margin-right: 5px; display: inline-block;}*/
/*.vidtracksI { background: url(img/vidicons.png) no-repeat -48px -144px; width:24px; height:20px; margin-right: 5px; display: inline-block;}	*/

.playlistbar { background-color: #ccc; padding: 3px;}
.playlistbar > * {vertical-align: top;}
.playlistwrap { border: 1px solid #ccc; padding: 10px; position:relative;}
.playlistbar, .playlistwrap {margin-left: -15px;}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.greystrike {
    text-decoration: line-through;
    color:#999;
}
.altContentOff {
    display:none;
}
.ccvid {
    position: relative;
}
.ccvid:after {
    display: block;
    content:"";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    /*background: transparent url("img/cc.png") no-repeat right bottom;*/
}
.text-align-left {
    text-align: left !important;
}
.width-hundread-per {
    width: 100% !important;
}
.margin-thirty {
    margin: 30px;
}
.categorize-question-form {
    margin-bottom: 23px;
    padding-top: 30px;
}
.margin-left-twenty-seven {
    margin-left:27px;
}
.margin-left-fourty-eight {
    margin-left:48px;
}
.margin-left-thirty-eight {
    margin-left:38px;
}
.margin-left-sixteen {
    margin-left: 16px !important;
}
.margin-left-ten {
    margin-left: 10px !important;
}
.margin-left-eight-pt-five-per {
    margin-left: 8.5%;
}
.right-ten {
    right: 10px;
}
.right-five {
    right: 5px;
}
.margin-left-thirty-three {
    margin-left: 33px;
}
.margin-top-twenty {
    margin-top: 20px !important;
}
.margin-left-minus-twenty {
    margin-left: -20px;
}
.margin-left-minus-four {
    margin-left: -4px;
}
.modify-data-shadow-box {
    margin-left: 20px !important;
    margin-top: -2px !important;
    margin-right: 0px !important;
}
.margin-left-thirty-eight {
    margin-left: 38px;
}
.margin-left-five-ptfour-per {
    margin-left: 5.4%;
}
.margin-left-three-pt-eight-per {
    margin-left: 3.8%;
}
.padding-left-zero {
    padding-left: 0px !important;
}
.image-file-input {
    height: 34px;
    text-align: center;
}
.width-sixty-per {
    width: 60%;
}
.padding-right-zero {
    padding-right: 0px;
}
.left-eight {
    left: 8px;
}
.width-hundread-three-per {
    width: 103%;
}
.suggested-replace-id {
    Display: initial !important;
    width: 25% !important;
}
.reset-btn {
    float: right;
    margin-top: -20px !important;
    margin-right: -15px !important;
}
.width-thirty-per {
    width:30%;
}
.bottom-three {
    bottom: 3px;
}
.width-fifty-per {
    width:50%;
}
.print-test {
    padding-right: 25px;
    padding-left: 30px;
    padding-bottom: 24px;
}
.print-test-header {
    background-color: #E0E0E0;
    height: 60px;
    margin-right: -25px;
    margin-left: -30px;
    padding-top: 21px;
}
.margin-left-thirty {
    margin-left: 30px !important;
}
.margin-left-twenty-six {
    margin-left:26px;
}
.form-control-inline-textbox {
    display: inline-block !important;
    width: 20% !important;
}
.marrgin-left-twenty-three {
    margin-left: 23px;
}
.margin-left-five {
    margin-left: 5px !important;
}
.margin-top-ten {
    margin-top: 10px !important;
}
.margin-top-twenty-seven {
    margin-top: 27px;
}
.continue-btn {
    float: right;
    margin-top: -7.5% !important;
    margin-right: -26px !important;
    z-index: 999;
}
.print-test-continue-btn {
    margin-top: -15% !important;
}
.preview-question-shadowbox {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 4px;
    padding-top: 5px;
}
.padding-top-zero {
    padding-top: 0px;
}
.margin-left-seven {
    margin-left: 7%;
}
.margin-left-five-ptsix-per {
    margin-left: 5.6%;
}
.margin-left-fourty-five {
    margin-left: 45px;
}
.margin-left-nineteen {
    margin-left: 19px !important;
}
.margin-left-fourty-three {
    margin-left: 43px;
}
.padding-right-ten {
    padding-right: 10px !important;
}
.margin-bottom-ten {
    margin-bottom: 10px;
}
.margin-top-twenty-five {
    margin-top: 25px;
}
.margin-right-ten {
    margin-right: 10px !important;
}
.padding-right-thirteen {
    padding-right: 13px;
}
.margin-right-thirteen {
    margin-right: 13px !important;
}
.padding-top-ten {
    padding-top: 10px;
}
.clear-both {
    clear: both;
}
.background-gery {
    background-color: #E0E0E0;
}
.preview-question-information {
    padding-top: 0px;
    padding-left: 25px;
    padding-bottom: 20px;
    margin-bottom: 25px;
    margin-top: 5px;
}
.assessment-copy-from {
    padding-bottom: 5px;
    padding-top: 5px;
}
.width-ten-per {
    width: 10%;
}
.display-inline-block {
    display: inline-block !important;
}
.width-twenty-per {
    width: 20%
}
.margin-top-seven {
    margin-top: 7px;
}
.margin-top-five {
    margin-top: 5px !important;
}
.width-sixty-three-per {
    width: 63%;
}
.width-eighty-per {
    width: 80% !important;
}
.margin-left-fifty {
    margin-left: 50px !important;
}
.margin-top-six {
    margin-top: 6px;
}
.add-offline-grades-form {
    padding: 30px 0px 20px 0px;
}
.width-fourty-per {
    width: 40%;
}
.width-thirty-three-per {
    width: 33%;
}
.width-thirty-five-per {
    width: 35%;
}
.width-seventy-seven {
    width: 77px !important;
}
.padding-top-twenty {
    padding-top: 20px;
}
.assessment-name select{
    width: 38.6%;
}
.width-six-per {
    width: 6%;
}
.margin-top-thirty-eight {
    margin-top: 38px;
}
.margin-top-minus-ten {
    margin-top: -10px;
}
.padding-left-thirty {
    padding-left: 30px !important;
}
.margin-right-minus-eleven-per {
    margin-right: -11% !important;
}
.width-seventy-eight-per {
    width: 78%;
}
.display-flex {
    display: flex !important;
}
.width-sixty-four-per {
    width: 64%;
}
.course-setting-submit-btn {
    float: right;
    margin-top: -6% !important;
}
.padding-bottom-twenty-five {
    padding-bottom: 25px !important;
}
.text-align-center {
    text-align: center;
}
.margin-left-twelve {
    margin-left: 12px !important;
}
.padding-left-twenty-six {
    padding-left: 26px;
}
.margin-top-minus-three {
    margin-top: -3px;
}
.margin-bottom-twenty {
    margin-bottom:20px;
}
.margin-left-minus-ten {
    margin-left: -10px;
}
.margin-right-minus-fourty {
    margin-right: -40px;
}
.padding-bottom-fifteen {
    padding-bottom: 15px !important;
}
.text-background-color {
    background-color: #F8f8f8;
}
.padding-left-fifteen {
    padding-left: 15px !important;
}
.padding-left-ten {
    padding-left: 10px !important;
}
.padding-left-five {
    padding-left: 5px !important;
}
.margin-left-minus-six {
    margin-left: -6px;
}
.width-fourty {
    width: 40px;
}
.padding-bottom-five {
    padding-bottom: 5px;
}
.padding-left-twenty {
    padding-left: 20px !important;
}
.margin-top-minus-six-per {
    margin-top: -6% !important;
}
.text-gray-background {
    min-height: 380px;
    height: 100%;
    background-color: #f8f8f8;
}
.padding-twenty {
    padding: 20px;
}
.width-five-per {
    width: 5% !important;
}
.padding-top-five{
    padding-top: 5px !important;
}
.margin-left-zero {
    margin-left:0px !important;
}
.background-color-gray {
    background-color:#f8f8f8 !important;
}
.margin-left-two {
    margin-left: 2px;
}
.margin-top-minus-five {
    margin-top: -5px;
}
.margin-top-two {
    margin-top: 2px !important;
}
.width-eighty-two-pt-eight-per {
    width: 82.8%;
}
.margin-right-fifteen {
    margin-right: 15px !important;
}
.margin-bottom-twenty-five {
    margin-bottom: 25px;
}
.margin-left-minus-thirty {
    margin-left: -30px !important;
}
.padding-left-twenty-five {
    padding-left: 25px !important;
}
.width-twenty-one-per {
    width: 21% !important;
}
.width-twenty-seven-per {
    width: 27% !important;
}
.width-sixty-six-per {
    width: 66% !important;
}
.margin-left-minus-twenty-five {
    margin-left: -25px;
}
.width-twenty-five-per {
    width: 25% !important;
}
.margin-left-minus-five {
    margin-left: -5px !important;
}
.padding-thirty {
    padding: 30px !important;
}
.padding-left-thirty-one {
    padding-left: 31px !important;
}
.margin-left-twenty-eight {
    margin-left: 28px;
}
.padding-left-twelve {
    padding-left: 12px;
}
.padding-left-eighteen {
    padding-left: 18px;
}
.padding-left-thirty-five {
    padding-left: 35px;
}
.margin-left-thirty-five {
    margin-left: 35px;
}
.padding-right-fifteen {
    margin-right: 15px;
}
.margin-left-eighteen {
    margin-left: 18px;
}
.padding-top-thirty {
    padding-top: 30px;
}
.margin-right-minus-twenty {
    margin-right: -20px;
}
.padding-right-five {
    padding-right: 5px;
}
.word-break-all-width {
    word-break: break-all !important;
    width:50% !important;
}
.color-white {
    color: white;
}
.width-seventy-per {
    width: 70%;
}
.width-fourty-five-per {
    width: 45%;
}
.width-seventeen-per {
    width: 17%;
}
.padding-left-eight {
    padding-left: 8px;
}
.margin-top-minus-thirty-nine {
    margin-top: -39px;
}
.margin-right-minus-twenty-two {
    margin-right: -22px;
}
.max-width-hundred-per {
    max-width: 100% !important;
}
.max-width-hundread-three-per {
    max-width: 103% !important;
}
.min-width-hundred-per {
    min-width: 100% !important;
}
.margin-top-minus-seven {
    margin-top: -7px;
}
.width-sixty-one-per {
    width: 61%;
}.display-inline {
     display: inline !important;
 }
.margin-left-fourteen {
    margin-left: 14px !important;
}
.padding-left-right-zero {
    padding-left: 0px;
    padding-right: 0px;
}
.width-two-hundred {
    width: 200px !important;
}
.margin-top-seventeen {
    margin-top: 17px;
}
.width-one-ninety {
    width: 190px;
}
.word-break-break-all {
    word-break: break-all !important;
}
.height-thirty-four {
    height: 34px;
}
.width-thirty {
    width: 30px;
}
.width-hundred {
    width: 100px;
}
.width-twenty-per {
    width: 20% !important;
}
.min-max-width-ninety-two-per {
    min-width: 92% !important;
}
.padding-left-four {
    padding-left: 4px !important;
}
.padding-left-two {
    padding-left: 2px;
}
.width-fifty-five-per {
    width: 55%;
}
.padding-top-twelve {
    padding-top: 12px;
}
.width-one-thirty {
    width: 130px;
}
.height-ninety {
    height: 85px !important;
}
.min-height-three-hundred-five {
    min-height: 305px;
}
.padding-left-six {
    padding-left: 6px;
}
.padding-left-seventeen {
    padding-left: 17px;
}
.width-fifty {
    width: 50px;
}
.assessment-pt-obtain-on select {
    display: inline-block;
    width: 50%;
    margin-left: 10px;
}
.padding-right-twenty {
    padding-right: 20px;
}
.padding-right-two {
    padding-right: 2px;
}
.width-twenty-four-per {
    width: 24% !important;
}
.width-twenty-two-per {
    width: 22% !important;
}
.padding-left-fourty {
    padding-left: 40px;
}
.padding-left-right-twenty {
    padding: 0px 20px 0px 20px;
}
.padding-left-thirty-three {
    padding-left: 33px;
}
.width-seven-per {
    width: 7%;
}
.width-eight-per {
    width: 8%;
}
.width-fifteen-per {
    width: 15%;
}
.margin-left-nine {
    margin-left: 9px !important;
}
.padding-left-right-thirty {
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.padding-top-bottom-fifteen {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.padding-right-eight-per {
    padding-right: 8% !important;
}
.padding-right-eighteen {
    padding-right: 18px !important;
}
.padding-right-eighteen-pt-one-per {
    padding-right: 18.1% !important;
}
.padding-left-one {
    padding-left: 1px;
}

.margin-right-twelve {
    margin-right: 12px !important;
}

.max-width-eighty-six-per {
    max-width: 76% !important;
}
.width-twelve-per {
    width: 12%;
}
.padding-right-seven-pt-six-per {
    padding-right: 7.6%;
}
.padding-right-twenty-one {
    padding-right: 21px;
}
.padding-left-right-fifteen {
    padding-left: 15px;
    padding-right: 15px;
}
.width-thirty-eight-per {
    width:38%;
}
.padding-top-bottom-twenty {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.padding-left-fourty-one {
    padding-left: 41px;
}
.margin-left-five-pt-six-per {
    margin-left: 5.65%;
}
.margin-left-twenty-five {
    margin-left: 25px;
}
.width-hundread-three-per {
    width: 103%;
}
.width-sixty-five-percentage{
    width: 65% !important;
}
.margin-left-minus-fifteen
{
    margin-left: -15px;
}
.width-eight-four-per {
    width: 84% !important;
}
.padding-left-thirteen {
    padding-left: 13px;
}
.padding-twenty {
    padding: 20px;
}
.width-twenty-four-per {
    width: 24%;
}
.overflow-x-auto {
    overflow-x: auto !important;
}
.padding-right-seventeen {
    padding-right: 17px !important;
}
.padding-left-twenty-eight {
    padding-left: 28px;
}
.color-red {
    color:red;
}
.padding-right-nineteen {
    padding-right: 19px;
}
.padding-right-thirty {
    padding-right: 30px;
}
.padding-top-twenty-five {
    padding-top: 25px !important;
}
.padding-left-two {
    padding-left: 2px;
}
.padding-left-twenty-three {
    padding-left: 23px;
}
.width-eighty-per {
    width: 80%;
}
.padding-top-eighteen {
    padding-top: 18px;
}
.margin-left-right-zero {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.margin-left-minus-two {
    margin-left: -2px !important;
}
.margin-left-twenty {
    margin-left: 20px !important;
}
.width-nineteen-per {
    width: 19%;
}
.padding-right-six-pt-three-per {
    padding-right: 6.3%;
}
.padding-right-seventeen-per {
    padding-right: 17% !important;
}
.padding-top-bottom-ten {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.padding-top-seven {
    padding-top: 7px;
}
.margin-bottom-zero {
    margin-bottom: 0px !important;
}
.width-nine-per {
    width: 9% !important;
}
.margin-left-minus-five-per {
    margin-left: -5% !important;
}
.margin-left-minus-three {
    margin-left: -3% !important;
}
.margin-bottom-one-pt-five-em {
    margin-bottom: 1.5em !important;
}
.padding-top-two-pt-em {
    padding-top: 2.5em;
}
.padding-top-bottom-one-pt-five-em {
    padding-top: 1.5em !important;
    padding-bottom: 1.5em !important;
}
.padding-top-pt-five-em {
    padding-top: 0.5em;
}
.add-video-video-player iframe {
    width: 100% !important;
}
.padding-left-two-em {
    padding-left: 2em !important;
}
.padding-left-one-em {
    padding-left: 1em;
}
.padding-top-one-em {
    padding-top: 1em;
}
.padding-top-two-em {
    padding-top: 2em;
}
.padding-bottom-one-em {
    padding-bottom: 1em;
}
.margin-bottom-three-pt-five {
    margin-bottom: 3.5em;
}
.width-three-per {
    width: 3%;
}
.font-size-twenty-one {
    font-size: 21px;
}
.padding-bottom-two-em {
    padding-bottom: 2em;
}
.padding-top-one-pt-five-em {
    padding-top: 1.5em;
}
.padding-left-pt-five-em {
    padding-left: 0.5em;
}
.padding-left-pt-eight-em {
    padding-left: 0.8em;
}
.padding-left-one-pt-two-em {
    padding-left: 1.2em;
}
.padding-left-pt-six-em {
    padding-left: 0.6em;
}
.padding-left-one-pt-five-em {
    padding-left: 1.5em;
}
.bootstrap-timepicker-widget input {
    padding: 5px !important;
    font-size: 12px;
}
.margin-top-two-em {
    margin-top: 2em;
}
.min-height-three-eighty {
    min-height: 380px;
}
.padding-right-two-em {
    padding-right: 2em;
}
.padding-right-two-em {
    padding-right: 2em;
}
.max-width-hundread {
    max-width: 100% !important;
}
.margin-top-one-pt-five-em {
    margin-top: 1.5em !important;
}
.margin-left-one-em {
margin-left: 1em;
}
.padding-left-three-em {
    padding-left: 3em;
}
.margin-top-minus-eight {
    margin-top: -8px;
}
.margin-left-pt-five-em {
    margin-left: 0.5em;
}
.padding-two-em {
    padding: 2em;
}
.padding-right-pt-five-em {
    padding-right: 0.5em;
}
.padding-top-one-pt-two {
 padding-top: 1.2em !important;
}
.padding-right-one-em {
    padding-right: 1em;
}
.padding-top-three {
    padding-top: 3px;
}
.word-wrap-break-word
{
    word-wrap: break-word;
}

.text-align-center{
    text-align: center;
}
.padding-top-six {
 padding-top: 6px;
}
.width-ninety-per {
    width: 90%;
}
.padding-top-bottom-two-em {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.padding-left-two-pt-three-em {
    padding-left: 2.3em;
}
.padding-left-two-pt-two-em {
    padding-left: 2.2em;
}
.item-analysis-background-color {
    background-color: #eee;
}
.padding-top-bottom-one-em {
    padding-top: 1em;
    padding-bottom: 1em;
}
.padding-right-seven {
    padding-right: 7px;
}
.width-auto {
    width: auto;
}
.max-width-ninety-per {
    max-width: 90% !important;
}
.list-style-type
{
    list-style-type: none;
}
.padding-one-em {
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-top: 1em;
}
.width-sixty-nine-per{
    width: 69%;
}
.margin-left-one-per{
    margin-left: 1%;
}
.width-thirty-per{
    width: 30%;
}
.padding-left-seven-per{
    padding-left: 7%;
}
.msg-editor table,.msg-editor iframe{
    max-width: 100%;
    width: 100%;
}
.padding-left-one-pt-eight-em {
    padding-left: 1.8em;
}
.padding-left-pt-four-em {
padding-left: 0.4em;
}
.scroll-x{
    overflow-x: scroll
}