html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
.master-items-container{
    padding: 0 5%;
    position: relative;
    bottom: 225px;
}
.navbar-inverse {
    background-color: #104e8c;
    border: none;
}
.navbar-inverse .navbar-brand{
    color: #ffffff;
    font-size: 30px;
}
.container-upper-blue{
    background-color: #1460aa;
}
.container-lower-white{
    background-color: #fafafa;
    margin: 0px;
    padding: 0px;
;
}
.graphic-math-img{
    width: 336px;
    height:320px;
    background-image: url("../img/background_graphic.png");
    float: left;
}
.breadcrumb{
    background-color: transparent;
    color: #ffffff;
}
.index-header a, .index-header{
    color: #ffffff;
}
.index-header .left-side .small-link{
    font-size: 10px;
}
.index-header .left-side .big-title{
    font-size: 25px;
}
.right-float{
    float: right;
}
.index-header .right-side .right-item{

}
.index-header .right-side .item-icon{
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    height: 34px;
    width: 34px;
    background: url("../img/two_gears.png");
}

.left-float{
    float: left;
}
.master-footer
{
    padding: 0 5%;
}
.footer-brand
{
    font-size: 22px;
    color: #808080;
}
.right-items .left-float{
    height: 34px;
    /*background-color:#104e8c;*/
}
