.textbox
{
    width: 100%;
}
.body
{
    width: 100%;
    

}

#message-link
{

    padding-left: 15px;
}

.message-second-level{
    margin: 0;

    padding-top:8px;
}
#limit-to-tag-link{
    padding-right: 17px;
}
#sent-message{
    /*padding-left: 5px;*/
    padding-left: 20px;
}
#by-Sender
{

    padding-right: 6px;
}
.second-level-message-navigation{
    height: 70px;
    padding-top: 8px;
    background-color: #F8f8f8;
}

.flag-alignment{
    
    width:24px;
    height: 24px;

}
.view-message-inner-contents
{
    height: auto;
    background-color: #F8f8f8;
    margin-left: 17px;
    margin-right: 17px;
}
/*.view-message-inner-contents:after {*/

    /*clear: both;*/
    /*content:"";*/
    /*display: table;*/
/*}*/
.message-title
{
    padding-top:12px;
}
.message-from
{

    margin-left: 8px;
}

.small{
    color: #12866E;
}
.message-body.a:hover{
    color: #12866E;
}

.message-reply
{
    margin-left: 15px;
    padding-top: 10px;
}
.reply-button{
background-color: #12856D;
    color:whitesmoke;
}
.btn1{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
}
.reply-div{

}
.message-body{
    padding-bottom: 20px;
}
.message-reply > a:hover{
    color:white;
    text-decoration: none;
}
.chat-icon
{

    width: 24px;
    height: 24px;
}
.align-links-message{
    margin-top: 20px;
}
.btn-color
{
    background-color: #12856D;
}
.btn-primary-1 {
    color: #FFF;
    background-color: #12856D;
    color:whitesmoke;
    text-transform: capitalize;
    border-radius: 0px;
}


.hide-hover > a:hover{
    text-decoration: none;
    color: #FFF;
}

.form-control-message {
    display: block;
    width: 245%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;

}
button.btn.btn-primary1.btn-color:hover{

    background-color: #12856D;
    color: #FFF;
}
button.btn.btn-primary1.btn-color{

    background-color: #12856D;
    color: #FFF;
}

.align-links-dropdwn{
    margin-top: 16px;
}
.padding-top
{

    padding-top: 40px;
}

.inner-reply-msg-content
{
    background-color: #f8f8f8;
    width: auto;
    height: 600px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.margin-left-message
{

    margin-left: 87px;
    vertical-align: bottom;
    margin-top: 20px;
}

.padding-to-block
{

    margin-left: 11px;
    margin-right: 10px;
}
.align-buttons
{

    margin-left: 9px;
    margin-bottom: 10px;
}

.margin-right-ten
{
    margin-right: 10px;
}

.flag-button{
    background-color: #104E8c;
    color:whitesmoke;
}

.btn-hover > a:hover{
    color:white;
    text-decoration: none;
}
