div {
    zoom: 1;
}

.assessment-btn{
    height: 2.2em !important;
}

.clear {
    line-height: 0;
}

#mqarea {
    height: 2em;
}

#GB_overlay, #GB_window {
    position: absolute;
    top: expression(0+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');
    left: expression(0+((e=document.documentElement.scrollLeft)?e:document.body.scrollLeft)+'px');
}