html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-inverse {
    background-color: #003366;
    border-color: #00339a;
}

.navbar-brand{
    font-size: 30px;
    color: #00CC00 !important;
    font-style: italic;
}

.navbar-inverse .navbar-nav > li > a{
    color: #f5f5f5;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #004466;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0);
}

.btn-min-width{
    width: 100px;
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline{
    color:#FF0000;
}
.has-error .form-control {
border-color:#FF0000;
}

.gb{
 width: 100% !important;
 margin-bottom: 10px !important;
}

.bootstrap-timepicker{
    width: 65%;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    background-position: center left !important;
}

.ui-dialog-titlebar-close{
    display: none;
}


.ui-widget-header {
    border: 1px solid #aaaaaa !important;
    background: none !important;
    background-color: #003366 !important;
    color: #fff !important;
    font-weight: bold !important;
}

.ui-dialog-buttonset button{
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.ui-dialog-buttonset button:hover{
    color: #fff;
    background-color: #3071a9;
    border-color: #285e8e;
}
.addRemoveTable{
    margin-top: 20px;
}

.select-text-margin{
    margin-top: 7px;
}
.clear-both{
    clear: both;
}

.register-terms-label{
    font-weight: normal;
}

.form-group{
    margin-bottom: 0px;
}
    /*Left side css*/
.needed
{
    /*display: inline-block;*/
    /*margin-top: 10px;*/
    /*background-color: #ddddff;*/
    /*width: 15%;*/
    /*box-sizing: border-box;*/
    /*position: absolute;*/
    /*border-radius:10px;*/
    /*border: 2px solid #000000;*/
    /*padding: 20px;*/
}
.ahref-align
{
    margin-left: 12px;
}
.course
{
    margin-left: 21%;
}
.courseText
{
    margin-left: 20%;
}



    /*Assessment*/
.margin-top
{
    margin-top: 20px;
    margin-left: 20%;
}

ul#navlist a {
    border-bottom: none;
}
.message-container{
    margin-top: 20px;
}