html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 2em;
}
#about{
    margin-left: 55px;
}
#contact
{
    margin-left: 55px;
}
#policy
{
    margin-left: 55px;
}
.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-inverse {
    background-color: #104e8c;
}

.navbar-brand{
    font-size: 30px;
}

.navbar-inverse .navbar-nav > li > a{
    color: #f5f5f5;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #004466;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0);
}

.btn-min-width{
    width: 100px;
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline{
    color:#FF0000;
}
.has-error .form-control {
border-color:#FF0000;
}

.gb{
 width: 100% !important;
 margin-bottom: 10px !important;
}

.bootstrap-timepicker{
    width: 65%;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    background-position: center left !important;
}

.ui-dialog-titlebar-close{
/*display: none;*/
}


.ui-widget-header {
    border: 1px solid #aaaaaa !important;
    background: none !important;
    background-color: #003366 !important;
    color: #fff !important;
    font-weight: bold !important;
}

.ui-dialog-buttonset button{
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.ui-dialog-buttonset button:hover{
    color: #fff;
    background-color: #3071a9;
    border-color: #285e8e;
}
.addRemoveTable{
    margin-top: 20px;
}

.select-text-margin{
    margin-top: 7px;
}
.clear-both{
    clear: both;
}

.register-terms-label{
    font-weight: normal;

}

.form-group{
    margin-bottom: 0px;
}
    /*Left side css*/
.needed
{
    display: inline-block;
    margin-top: 10px;
    background-color: #ddddff;
    box-sizing: border-box;
    border-radius:10px;
    border: 2px solid #000000;
    padding: 20px;
}
.ahref-align
{
    margin-left: 0px;
}
.course
{
    margin-left: 21%;
}
.courseText
{
    margin-left: 20%;
}
    /*Assessment*/
.margin-top
{
    margin-top: 20px;
    margin-left: 20%;
}

ul#navlist a {
    border-bottom: none;
}
.message-container {
    margin-top: 20px;
}
.datepicker table tr td, .datepicker table tr th {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 0px;
    border: none;
}

.unread-message{
    font-weight: bold;
}

.read-message{
    font-weight: normal;
}
.back-button{
    width: 72px;
    margin-top: 2px;
    height: 36px;
}

#button-username{
    margin-left: 1px;
}

#sign-up-button{
    margin-left: 1px;
}

#newCourse-btn
{

   margin-left:87px;
}
.padding-zero{
    padding: 0px;
}

#button-align
{
    margin-left: 76px;
}

.course-setting{
    margin-left: 7px;
}
.instructor-save{
    margin-left: 15px;
}

#change-button{

    margin-left: 0px;
}

.dataTables_filter{
    display: none;
}

#enroll-btn {
    margin-left: 0px;
    width: 100%;
}
.rights_alignment{
    margin-right: 9%;
}

.right_alignment
{
    margin-right: 107px;
}
.text-label{
    width: 100%;
    margin-bottom: 25px !important;
}

.left-align-text{
    float: left;
}


a:link:focus{
    text-decoration: none;
}


div.user-image{
    padding:  5px 9px 10px;
    padding-bottom: 10px;
}
p#settimezone{
    padding: 0px;
}
div.update-checkbox{
    padding-left: 15px;
}
#search{
    padding-bottom: 10px;
}
#thread{
    padding-bottom: 14px;
}
.change-rights{
    margin-left: -1%;
}
#table_placeholder{
    margin-top: 5px;
}
#go-button{
    margin-top: -1px;
}

.align-linked-text-right
{
    text-align: right;
}
td.locked-student{
    text-decoration: line-through;
}

#reset-password-submit
{
    margin-left: 0px;
}

.button-container form, .button-container form div {
    display: inline;
}

.button-container button {
    display: inline;
    vertical-align: middle;
}
div.navbar{
    min-width: 160px;
}

.margin-right-inset{
    margin-right: 1%;
}

a:focus {
    outline: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #3071a9; border-color: #285e8e;
}

.btn-primary {
    color: #fff; background-color: #428bca; border-color: #2C368E;
    text-transform: capitalize;

}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: ">\00a0";
}
#settimezone
{
    margin-left: 90px;
}
#update-btn
{
    margin-left: 180px;
}
#rdaiobtn{
    padding-bottom: 20px;
}

#datepicker-id
{
    padding-bottom: 3%;
    border-radius: 0px;
    border: none;
}
.margin-zero{
    margin-top: 25px;
    margin-left: 0px;
}
.image{
       width: 150px;
}
.table-image{
    width: 50px;
    height: 50px;
}
.circular-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-radius: 50%;
    background-image: none;
    background-position: center center;
    background-size: cover;
}
.back-button-change-student-info{
    padding-top: 7px;
    margin-left: 15px;
}
.div-change-student-info{
    padding-left: 21px;
}

#submit_and_review{
    margin: 2px 8px;
}
#change-record{
    margin:0px;
}
.dataTables_filter{
   display: none;
}
.back-btn{
    width: 72px;
    height: 35px;

}
.msg-notification{
    color: red;
}
a.msg-notification:hover{
    color: red;
}
a.msg-notification:visited{
    color: red;
}
.show-import-student-duplicate-table
{
    padding-top: 22px;
    padding-left: 5px;
}
.course-list{
    margin-top: 5px;
    list-style-type: none;
    margin-left: 15px;
    padding-left: 0px;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #dff0d8 !important;
}
#lockbtn{
    height: auto;
}

.login-register-link {
    line-height: 10px;
}

.dropdown-auto{
    width: auto;
    height: auto;
    padding: 0px;
}

.big-image{
    width: 100px;
    height: 100px;
}
.user-identity{
    display: block;
    width: 500px;
    float: left;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 14%;
}
.non-bold{
    font-weight: normal;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
     border: 0px;
}
table> thead{
    background: #6d6d6d;
    color: white;
}
.table > thead > tr > th {
    vertical-align: middle;
    border-top: 0;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    border-top: 0;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
}
table.dataTable thead .studentId.sorting_asc:after, .studentId.sorting:after, .studentId.sorting_desc:after {
    content: "\e155";
    visibility: hidden;
}
table.dataTable thead > tr > th {
    padding-right: 0;
    vertical-align: middle;
}
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 2px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}
.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}
.checkbox .cr .cr-icon,
.radio .cr .cr-icon :checked{
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}
.radio .cr .cr-icon {
    margin-left: 0;
}

.checkbox.override-hidden label input[type="checkbox"],
.radio.override-hidden label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}
.checkbox label input[type="checkbox"]:checked + .cr, .radio label input[type="radio"]:checked + .cr{
    background-color: #3441AC;
    color: #ffffff;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
img.small-icon{
    width: 1.2em;
    text-align: center;
    height: 1.3em;
}
.fa.icon-nav{
    font-size: 1.3em;
    margin-right: 5px;
}
.table > tbody > tr > td{
    color: #494949;
    vertical-align: middle;
}
.fc-unthemed thead {
    border-color: #ddd;
    background: none;
    color: inherit;
}
.btn-primary {
    color: #FFF;
    background-color: #2C368E;
    border-color: #2C368E;
    border-radius: 0px;
    text-transform: capitalize;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #2C368E;
    border-color: #2C368E;
}
.checkbox-size{
    font-size: 14px;
}
.title-page{
    font-size: 30px;
    color: #ffffff;
    text-transform: capitalize;
}
.vertical-align{
    vertical-align: middle;
}
.page-heading{
    width: 60%;
}

.header-btn{
    width: 40%;
}
.btn.btn-primary.page-settings{
    color: #FFF;
    background-color: #2C368E;
    text-transform: capitalize;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    border-radius: 0px;
    background-color: #2C368E;
    color: white;
    border: 1px solid #101A66;
}
input[type="submit"], input[type="button"], button, a.abutton {
    color: #ffffff;
    background-color: #2C368E;
    border-radius: 0px;
    border: 1px solid #285E8E;
    font: inherit;
    height: 2.5em;
    padding: 0px 8px;
    margin: 0;
}
input[type="submit"]:focus, button:focus, input[type="button"]:hover, a.abutton:hover, input[type="submit"]:hover, button:hover, input[type="button"]:hover, a.abutton:hover{
    background-color: #2C368E;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #ddd;
}
.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
    background-color: #fafafa;
}
.table-bordered {
     border: 0;
}
table.student-data-table.dataTable thead > tr > th {
    height: 36px;
}
table.student-data-table.dataTable thead .sorting:after, table.student-data-table.dataTable thead .sorting_asc:after, table.student-data-table.dataTable thead .sorting_desc:after {
    top: 16px;
}
table.student-data-table > .form-inline .radio, .form-inline .checkbox {
    top: 2px;
}
.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover{
    background-color:#2C368E ;
}
.radio, .checkbox {
    margin-top: 0;
    margin-bottom: 0;
}
.pull-left.gradebook-header-links{
    padding-top: 4px;
}
.green-btn, .green-btn:focus, .green-btn:hover, .green-btn.open, .btn-primary.green-btn:hover, .btn-primary.green-btn:active, .btn-primary.green-btn.active, .open > .dropdown-toggle.btn-primary.green-btn{
    background-color: #008E71;
    border-color: #008E71;
}
.green-carret, .green-carret:focus, .green-carret:hover, .dropdown-class .btn-primary.green-carret:hover, .btn-primary.green-carret:active, .btn-primary.green-carret.active, .open > .dropdown-toggle.btn-primary.green-carret {
    background-color: #00755d;
    border-color: #008E71;
}
.disable-btn{
    pointer-events: none;
    cursor: not-allowed;
}
.disable-btn-not-allowed{
    pointer-events: auto;
    cursor: not-allowed;
}
.disable-btn-not-allowed:hover{
    background-color: #1460AA;
}
.sub-menu-bar-nav{
    background: #f8f8f8;
}
.nav-tabs.nav-justified.sub-menu-bar-nav > li > a {
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #2c38ae;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    border: 1px solid rgba(0, 0, 0, .15);
}
.inner-content-gradebook{
    padding: 15px;
}
#gradebook-table_wrapper > th,#gradebook-table_wrapper td { white-space: nowrap; }
div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}
#gradebook-table_wrapper > div > div.col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 0;
}
.col-sm-offset.display_field{
    margin-left: 25%;
    padding-left: 0px;
}
.col-sm-9.display_field{
    /*margin-left: 25%;*/
    padding-left: 5px;
}
.dropdown-menu.with-selected > li > form > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
}
.dropdown-menu.with-selected > li > form > a:hover, .dropdown-menu.with-selected > li > form > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #2c38ae;
}
.inner-sub-content {
    padding: 15px;
}
.ui-dialog .ui-dialog-titlebar-close {
   visibility: hidden;

}