div.forumgrp {
	/*margin-left: 30px;*/
	margin-left: 3%;
}


table.forum {
	border-collapse: collapse;
	width: 100%;
}
table.forum td {
	padding: 0.2em 0.5em;
	border:	1px solid #000;
}
table.forum tr.sticky {
	background-color: #dfd;
}
table.forum thead td {
	border-bottom: 2px solid #00f;
	text-align: center;
	padding: 0.1em 0.5em;
	background-color: #eef;
}

table.forum tr.tagged {
	background-color: #dff;
}

img.pointer {
	cursor: pointer;
}
img.pic {
	float: left;
	padding-right: 5px;
}
span.leftbtns {
	margin-top: -2px;
	float: left;
	padding-right: 5px;
}
span.leftbtns img {
	vertical-align: top;
}
.block {
	min-height: 36px;
}
.pseudohidden {
	overflow: hidden;
	height: 0;
	padding: 0;
	margin: 0;
	position: absolute;
	visibility: hidden;
}
.forumcattag {
	color: #090;
}
.likeicon {
	vertical-align: middle;
	border-radius: 8px;
	border: 0;
	padding: 5px;
	cursor: pointer;
}
.likewrap {
	float: left;
	padding-left: 8px;
}
.liked {
	background-color: #fe0;
}
.likedt {
	background-color: #0f0;
}
.fixedonscroll[data-fixed=true] {
	z-index: 100;
	margin-top: -5px;
	padding: 5px 0px;;
	background-color: #fff;
	width: 100%;
}
