.question-upper-content{
    padding: 15px;
}
.page-title{
    font-size: 30px;
    color: #6d6d6d;
    text-transform: capitalize;
}
.col-lg-2.with-selected{
    padding-left: 0;
    padding-right: 0;
    width: 18%;
}
.question-checkbox{
    margin-left: 20px;
}
.question-table{
    width: 100%;
}
.question-check{
    padding-left: 26px;
}
.small-preview-icon{
    height: 12px;
}

.add-btn-question
{
    margin-right: 6px;
    width: 60px;
}
.question-preview-btn
{
    width: 100px;
}
.help-with-adding-question {
    display:none;
    background-color: #F8f8f8;
}
.order-btn {
color: white;
height: 34px;
width: 75px;
}
input[type="checkbox"]:checked {
    background-color: #1460aa !important;
}
.background-color-blue {
background-color: #1460aa !important;
}
input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.dropdown-menu li a {
    padding: 3px 10px !important;
}
.setting-btn {
min-width: 90px !important;
}
.preview-btn {
min-width: 75px !important;
max-width: 75px !important;
}

.qmenu{
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    width: 176px;
    max-width: 176px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.open > .qmenu {
    display: block;
}
.qmenu > li > a:hover, .qmenu > li > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #2c38ae;
}
.qmenu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.assessment-ques-shadowbox {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.patential-ques-header {
min-height: 60px !important;
background-color: #E0E0E0;
/*margin-right: -15px;*/
/*margin-left: -15px;*/
/*padding-left: 13px;*/
padding-top: 20px;
}
.search-patential-ques-header {
    margin-left: 0px !important;
    padding-top: 20px !important;
    padding-left: 0px !important;
}
.question-search {
margin-top: 15px;
margin-bottom: 15px;
margin-left: -15px;
}
.manage-question-set-shadowbox {
    padding:25px 0px 15px 0px;
}
.form-control-for-question {
    display: block;
    height: 34px;
    padding-left: 2px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}
.manage-question-with-selected {
    border: 1px solid #ddd !important;
    border-bottom:1px solid #ddd !important;
}
.manage-question-with-selected-dropdown {
    background: #f8f8f8;
}
.manage-question-with-selected-dropdown li ul li input {
width: 100%;
background-color: white;
color: black;
border: 0px;
text-align: left;
}
.manage-question-with-selected-dropdown li ul li input:hover  {
    color: #ffffff;
}
.background-text-padding {
    padding-left: 20px !important;
    padding-top: 15px;
    padding-bottom: 5px;
}
#search, #manage-question-set-search {
    background-image: url(../../img/icon-search.png);
    background-position: 5px center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;

    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !IMPORTANT;
    -o-border-radius: 4px !important;
    border-radius: 4px !important;

    padding: 10px 5px;
    text-indent: 20px;

    -webkit-transition: all 0.2s !important;
    -moz-transition: all 2s !important;
    transition: all 0.2s;
}
#search:focus, #manage-question-set-search:focus {
    /* Picked a random icon from Google */
    background-position: -20px center;
    text-indent: 0;
}
.add-question-preview-btn {
    min-width: 95% !important;
    margin-left: -10px;
}
.chosen-container .chosen-results {
    max-height:100px !important;
}
.select-library-patential-ques-header {
    min-height: 60px !important;
    background-color: #E0E0E0;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 13px;
    padding-top: 20px;
}
.manage-question-set-description {
    /*min-width: 300px !important;*/
word-break: break-all !important;
}
#manage-question-chglib:hover, #manage-question-license:hover, #manage-question-chgrights:hover, #manage-question-remove:hover, #manage-question-transfer:hover {
    background-color: #104E87;
    cursor: pointer;
}
#add-question:hover, #add-question-default:hover {
    cursor: pointer;
}
.with-selected-dropdown {
    max-width: 174px;
}
.categorize-question-description {
    word-wrap: break-word;
    max-width: 400px;
}
.patentialq-select-from-assessment-header {
    min-height: 60px !important;
    background-color: #E0E0E0;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 20px;
    padding-top: 13px;
    padding-left: 15px;
}
.question-in-assessment-table {
word-wrap: break-word;
max-width: 250px;
}
.owner-width {
    word-break: break-all !important;
}
.manage-question-table td, .manage-question-table th {
    margin: 0px;
    padding: 7px 3px 7px 4px !important;
}
.display-none {
    display: none !important;
    background-color: #ffffff !important;
    border: none !important;
}
.manage-qset-cng-licen {
    padding: 5px 30px 15px 30px !important;
}
/*.manage-ques-set-table #myTable_wrapper .col-sm-12 {*/
    /*padding-left: 0px;*/
    /*padding-right: 0px;*/
/*}*/

h1, .h1 {
    font-size: 28px !important;
}
h2 {
    font-size: 21px !important;
}
.h2, .h3, h4, .h4 {
   font-size: 14px !important;
}
h3 {
    font-size: 16px !important;
}
.modify-question-set-help ul {
    padding-left: 30px !important;
}
.ui-dialog {
    width:60% !IMPORTANT;
}

@-moz-document url-prefix() {
    .table-float-left {
        float: left !important;
    }
    .moz-btn-padding {
        padding-right: 15px !important;
    }
    .moz-drop-down-width {
        width: 174px !important;
    }
}
.padding-left-twelve {
padding-left: 12px;
}
