/* Should move to imascore.css */


/* General assessment player support styles */

.ehdd {
  position: absolute;
  background: #669;
  display:none;
  color: #fff;
  font-size: 75%;
  padding: 0px 4px;
  opacity: 0.9;
}
.eh {
  position: absolute;
  background: #669;
  color: #fff;
  display: none;
  padding: 0px 4px;
  font-size: 75%;
  opacity: 0.9;
}
.suggestion_list {
   background: white;
   border: 1px solid #ccc;
   box-shadow: 1px 3px 8px 0 rgba(0,0,0,0.25);
   padding: 0px;
 }

 .suggestion_list ul {
   padding: 0;
   margin: 0;
   list-style-type: none;
 }

 .suggestion_list a {
   display: inline-block;
   text-decoration: none;
   color: navy;
   padding: 4px 8px;
 }

 .suggestion_list .selected {
   background: #ddd;
 }

 .dsbox {
   border: 1px solid #ccc;
   background-color: #eef;
   padding: 8px;
 }
 .keywrap {
   display: inline-block;
   padding: 0;
   margin: 1px 0 1px 2px;
   border: 1px solid #ccc;
   border-radius: 4px;
   vertical-align: middle;
 }
 .keywrap [id^=ans] {
   padding: 2px 8px;
 }
 .keybtn {
   height: 28px;
   padding: 4px;
   margin: -1px;
   border: 1px solid #ccc;
   vertical-align: middle;
 }
 .keywrap.inwrap {
   vertical-align: top;
 }
 .keywrap.inwrap .keybtn {
   vertical-align: top;
 }

/* Question type supports */
div.choice {
  padding: 5px;
  float: left;
  text-align: center;
}
div.float {
  float:left;
}

div.match {
  float:left;
  padding: 5px;
  padding-right: 30px;
}
div.match li img, div.match li [role=img] {
  vertical-align: middle;
}
div[role=radiogroup].clearfix .match {
	padding-right: 5px;
}
div.spacer {
  clear: both;
  height: 1px;
  padding: 0px;
}
input.unind {
	margin-left: -15px;
}
p.centered {
  text-align: center;
}

table.p3longdiv {
  border-spacing: 0px;
  border-collapse: collapse;
}
table.p3longdiv td.right {
  text-align: right;
  padding: 0px;
}
table.p3longdiv td.bottomborder {
  border-bottom:1px solid black;
  text-align: right;
  padding: 0px;
}
table.p3longdiv td.topborder {
  border-top:1px solid black;
  text-align: right;
  padding: 0px;
}
table.p3longdiv td.topleftborder {
  border-left: 1px solid black;
  border-top: 1px solid black;
  text-align: right;
  padding: 0px;
}
table.stats {
  margin-left: 20px;
  border-collapse: collapse;
  background: #eef;
}
table.stats tbody tr td {
  border: 1px solid #000;
  padding: 1px 10px;
}
table.stats tbody tr td {
  text-align: right;
}
table td.left {
  text-align: left;
}
table.stats thead tr th {
  border: 1px solid #000;
  padding: 1px 10px;
  text-align: center;
  background: #eff;
  border-bottom: 3px solid #000;
}
table.stats tbody tr th {
  border: 1px solid #000;
  padding: 1px 10px;
  text-align: center;
  background: #eff;
  border-right: 3px solid #000;
}
table.scores td {
  padding-right: 20px;
}
span.spanbutton {
  padding: 1px 3px;
  border: 2px outset #f9f;
  background: #f9f;
  cursor: default;
}
span.spanbutton:active {
  border: 2px inset #f9f;
  background: #fcf;
  cursor: default;
}
span.spanbutton:hover {
  background: #fcf;
}
table.longdiv {
  border-collapse: collapse;
  border: 0px;
}
table.longdiv td {
  padding: 3px;
}
td.barslefttop {
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}
td.matrixleft, td.matrixright, td.matrixdetleft, td.matrixdetright {
  border: 1px solid #000;
  margin: 0px;
  padding: 0px;
}
td.matrixleft {
  border-width: 1px 0px 1px 1px;
}
td.matrixright {
  border-width: 1px 1px 1px 0px;
}
td.matrixdetleft {
  border-width: 0px 0px 0px 1px;
}
td.matrixdetright {
  border-width: 0px 1px 0px 0px;
}
table.paddedtable tr.onepixel { line-height: 1px;}
table.paddedtable td.matrixtopborder {border-top:1px solid black;padding:0;}
table.paddedtable td.matrixtopleftborder { border-left:1px solid black;border-top:1px solid black;padding:0;width:5px; }
table.paddedtable td.matrixtoprightborder { border-right:1px solid black;border-top:1px solid black;padding:0;width:5px; }
table.paddedtable td.matrixleftborder { border-left:1px solid black;padding:0;width:5px; }
table.paddedtable td.matrixrightborder { border-right:1px solid black;padding:0;width:5px; }
table.paddedtable td.matrixbottomleftborder { border-left:1px solid black;border-bottom:1px solid black;padding:0;width:5px; }
table.paddedtable td.matrixbottomrightborder { border-right:1px solid black;border-bottom:1px solid black;padding:0;width:5px; }
table.paddedtable td.nopad { padding:0;  width: 5px;}

table.paddedtable td, table.paddedtable th {
  padding: 2px 5px;
}
td.c, table.stats tbody td.c {
  text-align: center;
}
td.r, table.stats tbody td.r {
  text-align: right;
}
td.l, table.stats tbody td.l {
  text-align: left;
}

@media only screen and (max-width: 700px) {
  table[role=presentation] > tbody > tr > td,
	table[role=presentation] > tbody > tr > th,
	table[role=presentation] > thead > tr > td,
	table[role=presentation] > thead > tr > th
	{
		display: block;
	}
	table.responsive > tbody > tr > td,
	table.responsive > tbody > tr > th,
	table.responsive > thead > tr > td,
	table.responsive > thead > tr > th
	{
		display: block;
	}
}

ul.nomark {
  padding-left: 40px;
  margin-left: 0px;
}
div.toppad {
  padding-top: 5px;
}
ul.likelines {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul.likelines li {
  margin-bottom: .4em;
}

ul.nomark {list-style-type: none;}
ul.nomark li { margin-top: .7em;}
ol.lalpha {list-style-type: lower-alpha;}
ol.lalpha li { margin-top: .7em;}

.spaced li { margin-bottom: .3em;}

.drawtools {
  margin-left: 8px;
}
.drawtools > span {
    display:inline-block;
}
.drawtools img {
  vertical-align: middle;
}
.drawtools [data-drawaction] {
  border: 1px solid #ccc;
  padding: 2px;
  cursor: pointer;
}
.drawtools span[data-drawaction] {
  padding: 2px 8px;
}
.drawtools [data-drawaction]:hover {
  background-color: #EDF4FC;
}
.drawtools [data-drawaction].sel {
  background-color: #E6F0F9;
}
.drawcanvas {
	margin-bottom: 5px;
}
.drawcanvas img {
	max-width: 100% !important;
}

/* General layout styles used many places */
input, .mq-editable-field, .mathquill-math-field {
  border: 1px solid #999;
  padding: 4px 6px;
  border-radius: 4px;
  margin: 1px 0;
  background-color: #fff;
  color: #000;
}

input[type=radio], input[type=checkbox] {
  margin-right: 4px;
}
input[type=text]:disabled, .mathquill-math-field.disabled {
  background-color: #eee;
  color: #444;
}
.subdued {
  color: #757575;
}

.scrollpane {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  background-image: linear-gradient(to right, white, white), linear-gradient(to right, white, white), linear-gradient(to right, rgba(0,0,0,.25), rgba(255,255,255,0)), linear-gradient(to left, rgba(0,0,0,.25), rgba(255,255,255,0));
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: inherit;
  background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
  background-attachment: local, local, scroll, scroll;
}
.headerpane {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.questionpane {
  margin: 15px 15px;
  overflow: visible;
}
.questionwrap {
  position: relative;
}
.questionpane.introtext, .questionpane > .question > .question {
  max-width: 700px;
  overflow: visible;
}
.questionpane > .question > .question {
  margin: 0;
  padding: 0;
}
.questionwrap .question {
  background-color: transparent;
  border: 0;
}
.questionpane > .question {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  background-image: linear-gradient(to right, white, white), linear-gradient(to right, white, white), linear-gradient(to right, rgba(0,0,0,.25), rgba(255,255,255,0)), linear-gradient(to left, rgba(0,0,0,.25), rgba(255,255,255,0));
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: inherit;
  background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
  background-attachment: local, local, scroll, scroll;
  margin: 12px 0;
  padding: 1px;
}
.questionpane > .question > .question:after {
  content: "";
  display: table;
  clear: both;
}

div.question img, div.intro img, div.sidepreview img {
	max-width: 90%;
	height: auto;
}

div.txtimgwrap > img {
	max-width: none;
}

div.question td img, div.question th img {
	max-width: 100%;
}

p.seqsep {
  font-size: 80%;
  color: #757575;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  padding: 2px 0;
  text-align: right;
}
p.seqsep:first-child {
  margin-top: 0;
}

@media only screen and (max-width: 480px) {
  .questionpane {
    margin: 15px 4px;
  }
}
.introtext {
  padding: 12px;
  background-color: #f3f3f9;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.questionpane.introtext {
  margin: 15px 0;
}
.inactive {
  visibility: hidden;
  position: absolute;
  margin-left: -10000px;
}
.flexpanes {
  display: flex;
  flex-flow: row wrap;
}
.flexpanes > div + div{
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin-top: -1px;
}
.no-margin-top {
  margin-top: 0;
}
.ind1 {
  margin-left: 20px;
}
.med-below {
  margin-bottom: 16px;
}
.med-left {
  margin-left: 16px;
}

table.tchart {
	border-collapse: collapse;
}
table.tchart td {
	min-width: 3em;
}
table.tchart caption {
    font-weight: bold;
}
table.acctstatement {
	border-collapse: collapse;
}
table.acctstatement th, table.acctstatement td, table.acctstatement caption {
	border: 1px solid #eee;
	background-color: #fff;
	padding: 1px 5px;
}
table.acctstatement tbody th {
    font-weight: normal;
}


table.acctstatement thead th, table.acctstatement caption {
	text-align: center;
	z-index: 20;
	background-color: #eef;
	font-weight: bold;
	border-bottom: 2px solid #333;
	padding: 5px;
}
table.acctstatement.noborder  td {
	border: 0px;
}
input.iscredit {
  padding-left: 2em;
}

span.inlinebtn {
	cursor: pointer;
	border: 1px solid #000;
	padding: 5px 10px;
	line-height: 1em;
	display: inline-block;
	background: #efe;
	margin: 10px;
}
span.inlinebtn:hover {
	background: #dfd;
}
.feedbackwrap {
	display: block;
	padding: 5px;
	background: #fff;
	border: 1px solid #ccc;
}
.feedbackwrap.correct {
	background: #efe;
}
.feedbackwrap.incorrect {
	background: #fee;
}

.inlineheader {
  font-size: 1em;
  display: inline;
}
#GB_window {
    box-shadow: 1px 3px 8px 0 rgba(0,0,0,0.65);
    border: 0;
    border-radius: 4px;
}
#GB_caption {
    padding: 6px 6px;
}
#GB_title {
    padding-left: 6px;
}
