/*General settings - fonts, overall page background, etc*/
body {
  background-color: #fff;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 13.12px;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-weight: normal;
  letter-spacing: normal;
  orphans: 2;
  text-align: left;
  text-indent: 0px;
  text-transform: none;
  white-space: normal;
  widows: 2;
  word-spacing: 0px;
  -webkit-text-stroke-width: 0px;
}

/*Link styles*/
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/*Container for course items*/
div.item {
  border: 1px solid #000;
  background-color: #fff;
}

/*Container for editor*/
div.editor {
  border: 1px solid #000;
}

/*Default block container*/
div.block,
div.blockitems div.blockitems div.block {
  border: 1px solid #000;
  /* background-color: #ddf; */
  background-color: hsl(198, 65%, 40%);
  color: #fff;
}

div.block.grouptoggle:hover {
  background-color: #036;
}

/*Default block item container*/
div.blockitems,
div.blockitems div.blockitems div.blockitems {
  border: 1px solid #000;
  border-top: 0px;
  background-color: #fff;
}

/*Second level default block container*/
div.blockitems div.block {
  background-color: #dfd;
}

/*Second level default block item container */
div.blockitems div.blockitems {
  background-color: #efe;
}

.folder .itemhdr .title a {
  color: #fff;
}

/*Icons*/
div.icon {
  color: #00d;
  border: 1px solid #00f;
  font-weight: bolder;
}

/*Breadcrumb bar*/
div.breadcrumb {
  border: 1px solid #eef;
  background-color: #036;
  color: #eef;
}
div.breadcrumb a {
  color: #eef;
}

#headerlogo {
  color: #eef;
}

/*Control panels*/
div.cp,
div.cp a {
  border: 1px solid #000;
  background-color: hsl(198, 65%, 40%);
  color: #fff;
}
div.cpmid {
  border: 1px solid #000;
  background-color: #eee;
}

.midwrapper div#header {
  background-color: hsl(198, 65%, 40%);
}

div#loginbox {
  background-color: hsl(198, 20%, 90%);
}

table thead th {
  font-weight: bold;
  cursor: pointer;
}

/*Tables */
table.gb thead th,
table.gbl thead th,
table.gbl thead th.locked {
  border-bottom: 2px solid #00f;
  background-color: hsl(198, 65%, 40%);
  color: #fff;
}
tr.even,
tr.even td {
  background-color: #fff;
}
tr.odd,
tr.odd td {
  background-color: #eee;
}
tr.bordered td {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
tr.highlight,
tr.highlight td {
  background-color: #ddf;
}
tr.grid td {
  border: 1px solid #000;
}
tr.dbltop td {
  border-top: 3px double #000;
}
table.gbl td.locked,
table.gbl th.locked {
  border-right: 2px solid #00f;
}

/*Category header colors*/
table.gb .catdf {
  background-color: #eef;
}
table.gb .cat0 {
  /*
	background-color: #ddf;
	*/
  background-color: hsl(198, 65%, 46%);
}
table.gb .cat1 {
  background-color: #dfd;
}
table.gb .cat2 {
  background-color: #fdd;
}
table.gb .cat3 {
  background-color: #dff;
}
table.gb .cat4 {
  background-color: #ffd;
}
table.gb .cat5 {
  background-color: #fdf;
}
table.gb .cat6 {
  background-color: #aaf;
}
table.gb .cat7 {
  background-color: #afa;
}
table.gb .cat8 {
  background-color: #faa;
}
table.gb .cat9 {
  background-color: #aff;
}
.cattothdr {
  font-variant: small-caps;
}

/*Fake look of links for Javascript onclicks*/
span.link {
  text-decoration: underline;
  color: #00f;
  cursor: pointer;
}

/*Containers for instructor leftbar, main content*/
#leftcontent {
  background: #eee;
  border: 1px solid #000;
  color: #000;
}

#centercontent {
  background: #fff;
}

div.ddmenu {
  padding: 5px;
  background: CornflowerBlue;
  border: 1px solid #5970b2;
  position: absolute;
  right: auto;
  text-align: left;
  visibility: hidden;
  z-index: 100;
}

/*colors and borders for assessments*/
/*seq question css*/
div.curquestion {
}
div.inactive {
  border: 1px solid #00f;
}
div.prequestion {
  border: 1px solid #00f;
}
hr.seq {
}
div.seqqinfocur {
}
div.seqqinfocur span.current {
}
div.seqqinfoavail {
}
div.seqqinfoinactive {
}
div.todoquestion {
  background-color: #ffffcc;
  border: 1px solid #999966;
}
/*all questions*/
div.question {
  background-color: #fff;
  border: 1px solid #00f;
}

div.review {
  /*info bar*/
  background-color: #e0ffe0;
  border: 1px solid #00f;
}
div.intro {
  border: 1px solid #00f;
}
div.navbar {
  background: #e0ffe0;
  border: 1px solid #000;
  color: #000;
}
div.navbar a {
  color: blue;
}
span.current {
  background-color: #ffa;
}
span.done {
  text-decoration: line-through;
}

input[type="submit"],
input[type="button"],
button,
a.abutton,
span.fakebutton {
  color: #eef;
  background-color: hsl(198, 65%, 40%);
}
a.abutton:hover,
a.abutton:focus {
  background-color: #036;
}
input[type="submit"]:hover,
button:hover,
input[type="button"]:hover,
a.abutton:hover,
input[type="submit"]:focus,
button:focus,
input[type="button"]:focus,
a.abutton:focus {
  background-color: #036;
}

a.small {
  background-color: hsl(198, 65%, 40%);
  color: #eef;
  padding: 2px;
}

a.small:hover {
  background-color: #036;
}

/*for eqn tips*/

.ehdd {
  background: hsl(198, 65%, 55%);
  padding: 2px 4px;
}

.eh {
  background: hsl(198, 65%, 55%);
  padding: 2px 4px;
}

.drawtools span,
.drawtools img {
  font-size: 14px;
  color: #fff;
  background-color: hsl(198, 65%, 40%);
  border-radius: 0;
  border: 0;
  height: 1.5em;
  padding: 0 8px;
  margin: 2px 3px;
}

.drawtools span:hover,
.drawtools img:hover {
  background-color: hsl(56, 100%, 50%);
  color: #000;
}

.drawtools span.sel,
.drawtools span:active,
.drawtools img.sel,
.drawtools img:active {
  border: 0;
  background: hsla(56, 100%, 50%, 1);
  cursor: default;
  color: blue;
}

.drawtools span:hover,
.drawtools img:hover {
  background: hsla(56, 100%, 50%, 1);
}

span.spanbutton {
  font-size: 14px;
  padding: 1px 3px;
  color: #eef;
  border: 1px solid #ccc;
  background-color: hsl(198, 65%, 40%);
  cursor: default;
  margin: 2px;
  margin-left: 6px;
  padding: 1px 5px;
}

span.spanbutton:hover {
  border: 1px solid #ccc;
  background-color: #036;
}

#homelinkbox {
  border: 1px solid #000;
  padding: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

/* Coursemenu !!! */
#headerlogo {
  right: 0px;
  top: 0px;
  width: 30px;
}
span.padright {
  padding-right: 40px;
}
.headerwrapper {
  background: #fff;
  border: 0px;
  margin: 0;
  margin: 0px;
  margin-bottom: 0px;
  /*height: 94px;*/
  border-bottom: 2px solid #440044;
}
.headerwrapper h1 {
  margin: 0;
  padding: 30px 20px 0px;
  color: #ae131e;
  font-weight: normal;
}

div#headercontent {
  height: 65px;
  padding: 0px 10px;
}
div#navlistcont {
  /*height: 24px;*/
}
div#headerbarlogo {
  /*background: transparent url(../img/otbslogo.gif) no-repeat scroll left bottom;*/
  padding-top: 10px;
  height: 50px;
  overflow: hidden;
}
div#headerbarlogo img {
  vertical-align: -60%;
}
div#headerrightlinks {
  text-align: right;
  float: right;
  margin-top: 15px;
  color: #666;
}
div#headermenu {
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
  cursor: pointer;
}
#headermidlinks {
  padding-left: 40px;
}
div#headerhome,
div#homelinkbox {
  padding-top: 8px;
}
a.newnote,
a.newnote:link,
a.newnote:visited {
  color: #f00;
}

@media only screen and (max-width: 700px) {
  div#headerrightlinks {
    display: none;
  }
  #headermidlinks {
    display: none;
  }
  div#headermenu {
    display: block;
  }
  div#headerbarlogo {
    padding-top: 5px;
    height: 35px;
  }
  div#headercontent {
    height: 45px;
  }
  div#headerbarlogo img {
    height: 35px;
  }
}
@media only screen and (max-width: 700px) {
  #headerhome h2 {
    font-size: medium;
  }
}

@media only screen and (max-width: 700px) {
  #navlist {
    display: none;
  }
  #navlist.menuexpanded,
  ul#headermobilemenulist.menuexpanded {
    display: block;
  }
  ul#navlist li {
    display: list-item;
  }
  ul#navlist li a {
    display: block;
    float: none;
    border-right: none;
    padding: 0.3em 1em;
    line-height: 1.3em;
    border-bottom: 1px solid #fff;
  }
}

/* Additions per Mail 21.1.20 */
ul#headermobilemenulist {
  display: none;
}

ul#headermobilemenulist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
ul#headermobilemenulist li a {
  display: block;
  border-bottom: 1px solid #fff;
  color: #fff;
  background-color: #297bbb;
  padding: 0.3em 1em;
  line-height: 1.3em;
}

ul#headermobilemenulist li a:hover,
ul#headermobilemenulist li a:focus {
  background-color: #369;
  text-decoration: none;
}

button#timerbox {
  color: black;
}

button#timerbox:focus {
	background-color: #e0ffff;
}
