/*General settings - fonts, overall page background, etc*/
body {
	/*font-family: "Trebuchet MS", "Arial", "Helvetica", sans-serif;*/
	/*font-size: 90%;*/
}

/*Link styles*/
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/*Container for course items*/
div.item {
	border: 1px solid #000;
	background-color: #fff;
}

/*Container for editor*/
div.editor {
	border: 1px solid #000;
}

/*Default block container*/
div.block, div.blockitems div.blockitems div.block {
	border: 1px solid #000;
	background-color: #ddf;
}

/*Default block item container*/
div.blockitems, div.blockitems div.blockitems div.blockitems {
	border: 1px solid #000;
	border-top: 0px;
	background-color: #eef;
}

/*Second level default block container*/
div.blockitems div.block {
	background-color: #dfd;
}

/*Second level default block item container */
div.blockitems div.blockitems {
	background-color: #efe;
}

/*Icons*/
div.icon {
	color:#00d;	
	border: 1px solid #00f;
	font-weight: bolder;
}

/*Breadcrumb bar*/
div.breadcrumb {
	border: 1px solid #000;	
	background-color: #ddddff;
}

/*Control panels*/
div.cp {
	border: 1px solid #000;
	background-color: #eee;
}
div.cpmid {
	border: 1px solid #000;
	background-color: #eee;
}




table thead th {
	font-weight:bold;
}

/*Tables */
table.gb thead th, table.gbl thead th, table.gbl thead th.locked {
	border-bottom: 2px solid #00f;
	background-color: #eef;
}
tr.even, tr.even > * {
	background-color: #fff;	
}
tr.odd, tr.odd > * {
	background-color: #dfd;
}
tr.bordered  td {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
tr.highlight, tr.highlight > * {
	background-color: #ddf;
}
tr.grid > * {
	border: 1px solid #000;
}
tr.dbltop td {
	border-top: 3px double #000;
}
table.gbl td.locked, table.gbl th.locked {
	border-right: 2px solid #00f;
}

/*Category header colors*/
table.gb .catdf {
	background-color: #eef;
}
table.gb .cat0 {
	background-color: #ddf;
}
table.gb .cat1 {
	background-color: #dfd;
}
table.gb .cat2 {
	background-color: #fdd;
}
table.gb .cat3 {
	background-color: #dff;
}
table.gb .cat4 {
	background-color: #ffd;
}
table.gb .cat5 {
	background-color: #fdf;
}
table.gb .cat6 {
	background-color: #aaf;
}
table.gb .cat7 {
	background-color: #afa;
}
table.gb .cat8 {
	background-color: #faa;
}
table.gb .cat9 {
	background-color: #aff;
}
.cattothdr {
	font-variant: small-caps
}

/*Fake look of links for Javascript onclicks*/
span.link {
	text-decoration: underline;
	color: #00f;
	cursor: pointer;
}


/*Containers for instructor leftbar, main content*/
#leftcontent {
		background:#eee;
		border:1px solid #000;
		color:#000;
}

#centercontent {
		background:#fff;
}

div.ddmenu {
	padding: 5px;
	background: #eeffee;
	border: 1px solid #5970B2
}

/*colors and borders for assessments*/
/*seq question css*/
div.curquestion {

}
div.inactive {
	border: 1px solid #00f;
}
div.prequestion {
	border: 1px solid #00f;
}
hr.seq {

}
div.seqqinfocur {

}
div.seqqinfocur span.current{

}
div.seqqinfoavail {

}
div.seqqinfoinactive {

}
div.todoquestion {
	background-color: #ffffcc; 
	border: 1px solid #999966; 
}
/*all questions*/
div.question {
	background-color: #ddf; 
	border: 1px solid #00f;
}


div.review { /*info bar*/
	background-color: #e0ffe0;
	border: 1px solid #00f;
}
div.intro {
	border: 1px solid #00f; 
}
div.navbar {
	background:#e0ffe0;
	border:1px solid #000;
	color:#000;
}
div.navbar a {
	color: blue;
}
span.current {
	background-color: #ffa;
}
span.done {
	text-decoration: line-through;
}
