/*General settings - fonts, overall page background, etc*/
body {
	/*font-family: "Trebuchet MS", "Arial", "Helvetica", sans-serif;*/
	/*font-size: 90%;*/
}

/*Link styles*/
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/*Container for course items*/
div.item {
	border: 1px solid #000;
	background-color: #fff;
}

/*Container for editor*/
div.editor {
	border: 1px solid #000;
}

/*Default block container*/
div.block, div.blockitems div.blockitems div.block {
	border: 1px solid #000;
	background-color: #ddf;
}

/*Default block item container*/
div.blockitems, div.blockitems div.blockitems div.blockitems {
	border: 1px solid #000;
	border-top: 0px;
	background-color: #eef;
}

/*Second level default block container*/
div.blockitems div.block {
	background-color: #dfd;
}

/*Second level default block item container */
div.blockitems div.blockitems {
	background-color: #efe;
}

/*Icons*/
div.icon {
	color:#00d;	
	border: 1px solid #00f;
	font-weight: bolder;
}

/*Breadcrumb bar*/
div.breadcrumb {
	border: 1px solid #000;	
	background-color: #ddddff;
}

/*Control panels*/
div.cp {
	border: 1px solid #000;
	background-color: #eee;
}
div.cpmid {
	border: 1px solid #000;
	background-color: #eee;
}




table thead th {
	font-weight:bold;
	cursor:pointer;
}

/*Tables */
table.gb thead th, table.gbl thead th, table.gbl thead th.locked {
	border-bottom: 2px solid #00f;
	background-color: #eef;
}
tr.even {
	background-color: #fff;	
}
tr.odd {
	background-color: #dfd;
}
tr.bordered  td {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
tr.highlight {
	background-color: #ddf;
}
tr.grid td {
	border: 1px solid #000;
}
tr.dbltop td {
	border-top: 3px double #000;
}
table.gbl td.locked, table.gbl th.locked {
	border-right: 2px solid #00f;
}

/*Category header colors*/
table.gb .catdf {
	background-color: #eef;
}
table.gb .cat0 {
	background-color: #ddf;
}
table.gb .cat1 {
	background-color: #dfd;
}
table.gb .cat2 {
	background-color: #fdd;
}
table.gb .cat3 {
	background-color: #dff;
}
table.gb .cat4 {
	background-color: #ffd;
}
table.gb .cat5 {
	background-color: #fdf;
}
table.gb .cat6 {
	background-color: #aaf;
}
table.gb .cat7 {
	background-color: #afa;
}
table.gb .cat8 {
	background-color: #faa;
}
table.gb .cat9 {
	background-color: #aff;
}
.cattothdr {
	font-variant: small-caps
}
.highlightbackground{
	background-color: #F01235;
}
.highlightborder{
	border: 1px solid #F01235;
}
.mce-dim{
	opacity: 0.3;
}
.textsegment {
	height: auto;
	padding-left: 3px;
	padding-bottom: 14px;
}
.description-cell {
	max-width: 0; /* just need any max-width for text-overflow */
}
.collapsed {
	white-space: nowrap;
	text-overflow: ellipsis;
	max-height: 1.7em;
	max-width: 93%;
	overflow: hidden;
/*	padding-bottom: 0;*/
	background-color: #fff; /* must match .intro */
}
.intro-like {
	position: relative;
	background-color: #fff; /* must match .intro */
}
.collapsed * {
	text-overflow: ellipsis;
	overflow: hidden;
}
.collapsedheader {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 1.2em;
}
.collapsedtextfade {
	z-index: 10;
	position: absolute;
	bottom: 1px;
	left: 2px;
	right: 2px;
	height: 50%;
	padding: 1px;
	text-align: right;
	overflow: hidden;
	background-image: linear-gradient(to bottom, transparent, #fff); /* must match .intro */
}
.collapsedtextfadeheader {
	z-index: 10;
	position: absolute;
	top: 1px;
	right: 1px;
	height: 100%;
	width: 10%;
	padding: 1px;
}
div.text-segment-icon {
	font-size: 0.85em;
	z-index: 10;
	position: absolute;
	bottom: 4px;
	right: 4px;
	padding: 0;
	text-align: right;
	background: transparent;
}
.text-segment-button {
	cursor: pointer;
	padding: 1px;
	margin: 2px;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.2);
}
.text-segment-button:hover {
	background-color: white;
	transition-duration: 0.4s;
	box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.24);
}
tr:nth-child(even) div.collapsedtextfadeheader {
	background-image: linear-gradient(to right, transparent, #dfd);
	/* final gradient color must match tr.even above */
}
tr:nth-child(odd) div.collapsedtextfadeheader {
	background-image: linear-gradient(to right, transparent, #fff);
	/* final gradient color must match tr.odd above */
}


/*Fake look of links for Javascript onclicks*/
span.link {
	text-decoration: underline;
	color: #00f;
	cursor: pointer;
}


/*Containers for instructor leftbar, main content*/
#leftcontent {
		background:#eee;
		border:1px solid #000;
		color:#000;
}

#centercontent {
		background:#fff;
}

div.ddmenu {
	padding: 5px;
	background: #eeffee;
	border: 1px solid #5970B2
}

/*colors and borders for assessments*/
/*seq question css*/
div.curquestion {

}
div.inactive {
	border: 1px solid #00f;
}
div.prequestion {
	border: 1px solid #00f;
}
hr.seq {

}
div.seqqinfocur {

}
div.seqqinfocur span.current{

}
div.seqqinfoavail {

}
div.seqqinfoinactive {

}
div.todoquestion {
	background-color: #ffffcc; 
	border: 1px solid #999966; 
}
/*all questions*/
div.question {
	background-color: #ddf; 
	border: 1px solid #00f;
}


div.review { /*info bar*/
	background-color: #e0ffe0;
	border: 1px solid #00f;
}
div.intro {
	border: 1px solid #00f; 
}
div.navbar {
	background:#e0ffe0;
	border:1px solid #000;
	color:#000;
}
div.navbar a {
	color: blue;
}
span.current {
	background-color: #ffa;
}
span.done {
	text-decoration: line-through;
}
