a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

html {
	height: 100%;
}
body {
	height: 100%;
	margin: 10px;
	padding: 0px;
}
div {
	margin: 0px;
	padding: 0px;
}
form {
	margin: 0px;
	padding: 0px;
}

div.main {
	padding: 0px;
}
div.toppad {
	/*position: relative;*/
	padding-top: 5px;
}
div.breadcrumb {
	border: 1px solid #000;
	background-color: #ddf;	
	margin-bottom: 10px;
	padding: 5px;
}

div.question {
	/*position: relative;*/
	font-family: "Times New Roman", Times, serif;
	font-size: medium;
	background-color: #ddf; 
	border: 1px solid #00f; 
	margin-top: 0px;
	margin-bottom: 5px;
	padding: 10px;
	width: 99%;
}
div.inactive {
	/*position: relative;*/
	margin-bottom: 5px;
	padding: 10px;
}
div.todoquestion div.inactive {
	margin: 0; padding: 0;
}
div.todoquestion {
	background-color: #ffffcc; 
	border: 1px solid #999966; 
	margin-top: 0px;
	margin-bottom: 5px;
	padding: 10px;
	width: 99%;
}

div.review {
	/*background-color: #e0ffe0;*/
	border: 1px solid #00f;
	margin-top: -4px;
	margin-bottom: 20px;
	padding: 5px;
	width: 99%;
}

div.intro {
	border: 1px solid #00f; 
	padding: 5px;
	margin-bottom: 10px;
}

div.choice {
	padding: 5px;
	float: left;
	text-align: center;
}

div.float {
	float:left;
}

div.match {
	float:left;
	padding: 5px;
	padding-right: 30px;	
}

div.spacer {
	clear: both;
	height: 1px;
	padding: 0px;
}

div.navbar {
	position: absolute;
	left: 10px;
	width:120px;
	padding:10px;
	margin-top:0px;
	background-color: #e0ffe0;
	border:1px solid #000;
	color:#000;
}

div.navbar h4 {
	margin-top: 0px;
}

div.navbar a {
	color: blue;
}

span.current {
	background-color: #ffa;
}
span.done {
	text-decoration: line-through;
}

div.inset {
	padding: 0px;
	margin-left: 155px;
	margin-right: 10px;
}

div.right {
	padding: 0px;
	text-align: right;	
}

ul.qlist {list-style-type: none; margin: 0px; padding: 0px;}
ul.qlist li {margin-top: .2em; margin-left: 10px; padding: 0px;}

ul.nomark {list-style-type: none;}
ul.nomark li { margin-top: .7em;}
ol.lalpha {list-style-type: lower-alpha;}
ol.lalpha li { margin-top: .7em;}

p.centered {
	text-align: center;
}

table thead th {
	font-weight: bold;
}

table.stats {
	margin-left: 20px;
	border-collapse: collapse;
	background: #eef;
}
table.stats td {
	border: 1px solid #000;
	padding: 1px 10px;
}
table.stats tbody td {
	text-align: right;
}
table td.left {
	text-align: left;
}
table.stats thead th {
	border: 1px solid #000;
	padding: 1px 10px;
	text-align: center;
	background: #eff;
	border-bottom: 3px solid #000;
}
table.stats tbody th {
	border: 1px solid #000;
	padding: 1px 10px;
	text-align: center;
	background: #eff;
	border-right: 3px solid #000;
}
span.white {
	background-color: white;
	padding: 2px;
}
span.aural {
	display: none;
}

img.skipnav {
	position: absolute;
	top: 0px;
	left: 0px;
	border: 0px;
}
.hidden {
	display: none;
} 
span.shown {
	display: inline;
}
table.scores td {
	padding-right: 20px;
}

.drawtools span {
	padding: 1px 3px;
	border: 2px outset #9f9;
	background: #9f9;
	cursor: default;
}
.drawtools span.sel, .drawtools span:active {
	border: 2px inset #9f9;
	background: #cfc;
	cursor: default;
}
.drawtools span:hover {
	background: #cfc;
}
.drawcanvas {
	border: 1px solid #000;
	margin-bottom: 5px;
}

table.longdiv {
  border-collapse: collapse;
  border: 0px; 
}
table.longdiv td {
  padding: 3px;
}
td.barslefttop {
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}
span.red {
	color: red;
}
span.withdrawn {
	color: red;
	text-decoration: line-through;
}
td.matrixleft { 
	border: 1px solid #000;
	border-width: 1px 0px 1px 1px;
	margin: 0px;
	padding: 0px;
} 
td.matrixright {
	border: 1px solid #000;
	border-width: 1px 1px 1px 0px;
	margin: 0px;
	padding: 0px;
}
td.c, table.stats tbody td.c {
	text-align: center;
}
td.r, table.stats tbody td.r {
	text-align: right;
}
td.l, table.stats tbody td.l {
	text-align: left;
}

div.tips {
 	border: 1px solid #000;
	background-color: #cff;
	position: absolute;
	padding: 5px;
}
/*for eqn helper*/
.eebtn {
	font-family: "Times New Roman", Times, serif;
	cursor: pointer;
	padding: 0px .5em;
	height: 35px;
	border: 1px solid #000;
	text-align: center;
	background: #fff;
	vertical-align: middle;
}
.eetab { 
	cursor: pointer;
	height: 35px;
	padding: 0px 1em;
	border: 1px solid #000;
	text-align: center;
	background: #fff;
	vertical-align: middle;
}
.eedd {
	cursor: pointer;
	font-family: sans-serif;
	position: absolute; 
	height: 8px; 
	background: #ff0;
	display:none; 
	text-align:center; 
	color: #fa0;
	font-size: 6px;
}
