/*
 * LaTeX Math in pure HTML and CSS -- No images whatsoever
 * v0.xa
 * by Jay and Han
 * Lesser GPL Licensed: http: //www.gnu.org/licenses/lgpl.html
 * 
 * This file is automatically included by mathquill.js
 * 
 */

@font-face {
  font-family: Symbola;
  src: url(font/Symbola.eot);
  src: local("Symbola Regular"), local("Symbola"),
    url(font/Symbola.ttf) format("truetype"),
    url(font/Symbola.otf) format("opentype"),
    url(font/Symbola.svg#Symbola) format("svg");
}

.mathquill-editable,
.mathquill-rendered-math,
.mathquill-rendered-math .cursor,
.mathquill-rendered-math .underline,
.mathquill-rendered-math .overline,
.mathquill-rendered-math .font,
.mathquill-rendered-math sup,
.mathquill-rendered-math sub,
.mathquill-rendered-math .fraction,
.mathquill-rendered-math .sqrt-prefix,
.mathquill-rendered-math .sqrt-stem,
.mathquill-rendered-math .paren,
.mathquill-rendered-math .array,
.mathquill-rendered-math .block {
  display: -moz-inline-box;
  display: inline-block;
  padding-top: .075em;
}
.mathquill-editable, .mathquill-embedded-latex .mathquill-editable {
  border: 1px solid gray;
  padding: 2px;
}
.mathquill-embedded-latex .mathquill-editable {
  margin: 1px;
}
.mathquill-textbox {
  overflow-x: auto;
  overflow-y: hidden; /*so IE8 won't show a vertical scrollbar*/
}

.mathquill-editable .textarea, .mathquill-rendered-math .textarea {
  position: relative;
  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
}
.mathquill-editable .textarea textarea, .mathquill-rendered-math .textarea textarea, .mathquill-rendered-math .selectable {
  position: absolute;
  clip: rect(1em 1em 1em 1em); /* the only way to hide the textarea *and the blinking insertion point* in IE */
  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  border: medium none;
    height: 1px;
    opacity: 0;
    outline: medium none;
    overflow: hidden;
    width: 1px;
    z-index: -1;
}

.mathquill-editable .cursor {
  border-left: 1px solid black;
  margin-right: -1px;
  position: relative;
  z-index: 1;
}
.mathquill-editable .cursor.blink {
  visibility: hidden;
}
.mathquill-editable.empty:after, .mathquill-textbox:after, .mathquill-rendered-math .empty:after {
  visibility: hidden;
  content: 'c';
}
/*separated from above because unrecognized pseudoclasses invalidate the entire selector*/
.mathquill-editable .cursor:only-child:after,
.mathquill-editable .textarea+.cursor:last-child:after {
  visibility: hidden;
  content: 'c';
}

.mathquill-rendered-math .matrixed {
  background: white;
}

.mathquill-editable .selection,
.mathquill-rendered-math .selection,
.mathquill-editable .selection .mathquill-rendered-math,
.mathquill-rendered-math .selection .underline,
.mathquill-rendered-math .selection .overline,
.mathquill-rendered-math .selection .font,
.mathquill-rendered-math .selection sup,
.mathquill-rendered-math .selection sub,
.mathquill-rendered-math .selection .fraction,
.mathquill-rendered-math .selection .sqrt-prefix,
.mathquill-rendered-math .selection .sqrt-stem,
.mathquill-rendered-math .selection .paren,
.mathquill-rendered-math .selection .array,
.mathquill-editable .selection .matrixed,
.mathquill-rendered-math .selection .matrixed,
.mathquill-rendered-math .selection .block {
  background: #B4D5FE;
  background: Highlight;
  color: HighlightText;
  border-color: HighlightText;
}
.mathquill-editable .selection.blur,
.mathquill-rendered-math .selection.blur,
.mathquill-editable .selection.blur .mathquill-rendered-math,
.mathquill-rendered-math .selection.blur .underline,
.mathquill-rendered-math .selection.blur .overline,
.mathquill-rendered-math .selection.blur .font,
.mathquill-rendered-math .selection.blur sup,
.mathquill-rendered-math .selection.blur sub,
.mathquill-rendered-math .selection.blur .fraction,
.mathquill-rendered-math .selection.blur .sqrt-prefix,
.mathquill-rendered-math .selection.blur .sqrt-stem,
.mathquill-rendered-math .selection.blur .paren,
.mathquill-rendered-math .selection.blur .array,
.mathquill-editable .selection.blur .matrixed,
.mathquill-rendered-math .selection.blur .matrixed,
.mathquill-rendered-math .selection.blur .block {
  background: #D4D4D4;
  color: black;
  border-color: black;
}
.mathquill-editable .selection .selection.blur,
.mathquill-rendered-math .selection .selection.blur,
.mathquill-editable .selection .selection.blur .mathquill-rendered-math,
.mathquill-rendered-math .selection .selection.blur .underline,
.mathquill-rendered-math .selection .selection.blur .overline,
.mathquill-rendered-math .selection .selection.blur .font,
.mathquill-rendered-math .selection .selection.blur sup,
.mathquill-rendered-math .selection .selection.blur sub,
.mathquill-rendered-math .selection .selection.blur .fraction,
.mathquill-rendered-math .selection .selection.blur .sqrt-prefix,
.mathquill-rendered-math .selection .selection.blur .sqrt-stem,
.mathquill-rendered-math .selection .selection.blur .paren,
.mathquill-rendered-math .selection .selection.blur .array,
.mathquill-editable .selection .selection.blur .matrixed,
.mathquill-rendered-math .selection .selection.blur .matrixed,
.mathquill-rendered-math .selection .selection.blur .block {
  background: #ABF;
}
.mathquill-editable .selection.blur .selection.blur,
.mathquill-rendered-math .selection.blur .selection.blur,
.mathquill-editable .selection.blur .selection.blur .mathquill-rendered-math,
.mathquill-rendered-math .selection.blur .selection.blur .underline,
.mathquill-rendered-math .selection.blur .selection.blur .overline,
.mathquill-rendered-math .selection.blur .selection.blur .font,
.mathquill-rendered-math .selection.blur .selection.blur sup,
.mathquill-rendered-math .selection.blur .selection.blur sub,
.mathquill-rendered-math .selection.blur .selection.blur .fraction,
.mathquill-rendered-math .selection.blur .selection.blur .sqrt-prefix,
.mathquill-rendered-math .selection.blur .selection.blur .sqrt-stem,
.mathquill-rendered-math .selection.blur .selection.blur .paren,
.mathquill-rendered-math .selection.blur .selection.blur .array,
.mathquill-editable .selection.blur .selection.blur .matrixed,
.mathquill-rendered-math .selection.blur .selection.blur .matrixed,
.mathquill-rendered-math .selection.blur .selection.blur .block {
  background: #AAA;
  background: rgba(0, 0, 0, .15);
}

.mathquill-editable, .mathquill-rendered-math {
  cursor: text;
  font-family: Symbola, "Times New Roman", serif;
}
.mathquill-rendered-math {
  font-variant: normal;
  font-weight: normal;
  font-style: normal;
  font-size: 115%;
  line-height: 1;
}
.mathquill-rendered-math var, .mathquill-rendered-math .text, .mathquill-rendered-math .nonSymbola {
  font-family: "Times New Roman", Symbola, serif;
}
.mathquill-rendered-math * {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  border-color: black;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  white-space: pre-wrap;
}
.mathquill-editable.hasCursor,
.mathquill-rendered-math .latex-command-input.hasCursor {
  border-color: ActiveBorder;
}
.mathquill-editable.hasCursor, .mathquill-editable .hasCursor {
  -webkit-box-shadow: #68B4DF 0 0 3px 2px;
  -moz-box-shadow: #68B4DF 0 0 3px 2px;
  box-shadow: #68B4DF 0 0 3px 2px;
}

.mathquill-rendered-math .empty {
  background: #ccc;
}
.mathquill-rendered-math.empty {
  background: transparent;
}

.mathquill-rendered-math .text {
  font-size: 87%;
}

.mathquill-rendered-math .font {
  font: 1em "Times New Roman", Symbola, serif;
}
.mathquill-rendered-math .font * {
  font-family: inherit;
  font-style: inherit;
}

.mathquill-rendered-math b,
.mathquill-rendered-math b.font {
  font-weight: bolder;
}
.mathquill-rendered-math var,
.mathquill-rendered-math i,
.mathquill-rendered-math i.font {
  font-style: italic;
}
.mathquill-rendered-math var.florin { /* florin looks so much better than italic f */
  margin: 0 -.1em;
}

.mathquill-rendered-math big {
  font-size: 125%;
}

.mathquill-rendered-math .roman {
  font-style: normal;
}

.mathquill-rendered-math .sans-serif {
  font-family: sans-serif, Symbola, serif;
}

.mathquill-rendered-math .monospace {
  font-family: monospace, Symbola, serif;
}

.mathquill-rendered-math .overline {
  border-top: 1px solid black;
  margin-top: 1px;
}
.mathquill-rendered-math .underline {
  border-bottom: 1px solid black;
  margin-bottom: 1px;
}

.mathquill-rendered-math sup, .mathquill-rendered-math sub {
  position: relative;
  font-size: 90%;
}
.mathquill-rendered-math sup {
  vertical-align: .5em;
}
.mathquill-rendered-math sub {
  vertical-align: -.4em;
}
.mathquill-rendered-math sup.nthroot {
  margin-right: -.6em;
  margin-left: .2em;
  min-width: .5em;
  z-index: 2;
}
.mathquill-rendered-math sup.limit, .mathquill-rendered-math sub.limit,
.mathquill-rendered-math sup.nthroot {
  font-size: 80%;
}
.mathquill-rendered-math sup.limit, .mathquill-rendered-math sup.nthroot {
  vertical-align: .8em;
}
.mathquill-rendered-math sub.limit {
  vertical-align: -.6em;
}

.mathquill-rendered-math .binary-operator {
  padding: 0 .2em;
}
.mathquill-rendered-math .unary-operator {
  padding-left: .2em;
}
.mathquill-rendered-math sup .binary-operator,
.mathquill-rendered-math sub .binary-operator {
  padding: 0 .1em;
}
.mathquill-rendered-math sup .unary-operator,
.mathquill-rendered-math sub .unary-operator {
  padding-left: .1em;
}

.mathquill-rendered-math .fraction {
  font-size: 90%;
  text-align: center;
  vertical-align: -.5em;
  padding: 0 .1em;
}
.mathquill-rendered-math .fraction, x:-moz-any-link { /* Firefox 2 (and older?) only */
  display: -moz-groupbox; /* because display:inline-block is FUBAR in Gecko < 1.9.0 */
}
.mathquill-rendered-math .fraction, x:-moz-any-link, x:default { /* Firefox 3+ (Gecko 1.9.0+) */
  display: inline-block;
}
.mathquill-rendered-math .numerator, .mathquill-rendered-math .denominator {
  display: block;
  padding-top: .075em;
}
.mathquill-rendered-math .numerator {
  padding-left: .1em;
  padding-right: .1em;
}
.mathquill-rendered-math .denominator {
  border-top: 1px solid;
  float: right; /* take out of normal flow to manipulate baseline */
  width: 100%;
}

.mathquill-rendered-math sup .fraction, .mathquill-rendered-math sub .fraction {
  font-size: 70%;
  vertical-align: -.4em;
}
.mathquill-rendered-math sup .numerator, .mathquill-rendered-math sub .numerator {
  padding-bottom: 0;
}
.mathquill-rendered-math sup .denominator, .mathquill-rendered-math sub .denominator {
  padding-top: 0;
}

.mathquill-rendered-math .latex-command-input {
  color: inherit;
  font-family: "Courier New", monospace;
  border: 1px solid gray;
  padding-right: 1px;
  margin-right: 1px;
  margin-left: 2px;
}
.mathquill-rendered-math .latex-command-input.empty {
  background: transparent;
}

.mathquill-rendered-math .sqrt-prefix {
  padding-top: 0;
  position: relative;
  top: .1em;
  vertical-align: top;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
}
.mathquill-rendered-math .sqrt-stem {
  border-top: 1px solid;
  margin-top: 1px;
  padding-left: .15em;
  padding-right: .2em;
  margin-right: .1em;
}

.mathquill-rendered-math .paren {
  padding: 0 .1em;
  vertical-align: bottom;
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  -o-transform-origin: bottom center;
  transform-origin: bottom center;
}

.mathquill-rendered-math .array {
  vertical-align: middle;
  text-align: center;
}

.mathquill-rendered-math .array > span {
  display: block;
}

.mathquill-rendered-math .non-italicized-function {
  padding-right: .2em;
}

/*.mathquill-rendered-math .not {
  margin-right: -.75em;
}*/

/*****  CSS for IMathAS MathQuill editor ****/

#mqee {
	position: absolute;
	width: 500px;
	left: -400px;
	background: #F7F7F7;
	border: 2px solid #009;
	margin:0; padding: 0;
	display: none;
	z-index: 10;
}
#mqeetopbar {
	background: #006;
	width: 100%;
	color: #fff;
	cursor: pointer;
	height: 26px;
	line-height: 26px;
	cursor: move;
}
#mqeetopbar>span {
	padding-left: 5px;
}
#mqeeclosebutton {
	width: 20px;
	height: 20px;
	line-height: 20px;
	float: right;
	text-align: center;
	background: #fff;
	color: #000;
	margin: 2px;
	border: 1px solid #009;
	font-family: sans-serif;
	font-size: 70%;
	cursor: pointer;
}
#mqeeclosebutton:hover {
	color: #f00;
}
#mqeeinsides {
	padding: 5px;
}
#mqholder {
	margin: 10px 5px;
}
#mqarea {
	width: 475px;
	background: #fff;
	min-height: 2em;
	font-size: 120%;
}
.mqeebtn {
	font-family: "Times New Roman", Times, serif;
	color: #000;
	cursor: pointer;
	padding: 0 0.5em 0;
	height: 44px;
	/*border: 1px solid #000;*/
	text-align: center;
	background: #fff;
	vertical-align: middle;
}

#tabs-functions .mqeebtn, #tabs-trig .mqeebtn {
	vertical-align: baseline;
	height: 32px;
	padding-top: 5px;
}

.mqeetab { 
	cursor: pointer;
	height: 35px;
	padding: 0px 1em;
	border: 1px solid #000;
	text-align: center;
	background: #fff;
	vertical-align: middle;
	color: #000;
}
.mqeeactive {
	background: #cfc;
}
.mqeehighlight {
	/*background: #ccf;*/
	color: #00f;
}
.mqeeclick {
	background: #aaf;
}
.mqeedd {
	cursor: pointer;
	font-family: sans-serif;
	position: absolute; 
	height: 8px; 
	/*background: #ff0 url('tinyarrow.gif') no-repeat center;*/
	display:none; 
	text-align:center; 
	background: #ff0;
	color: #930;
	/*font-size: 6px;*/
	border: 1px solid #fa0;
	border-left: 0;
	width: 10px;
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
	clear: both;
	float: left; 
	width: 100%;
	height: 50px;
	background: #fff;
	margin-bottom: 5px;
}
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; 
	line-height: 31px; 
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; 
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	padding: 0 20px;
	border: 1px solid #fff; 	
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { 
	background: #fff;
	border-bottom: 1px solid #fff; 
}
.emptybox {
	display: inline-block;
	width: .5em;
	height: .7em;
	margin: .1em 0;
	border: 1px solid #999;
	vertical-align: bottom;
}
.emptybox.brack {
	margin: .1em 0 .2em 0;
}
.emptybox.wide {
	margin: .1em;
}
.mqeehighlight .emptybox {
	border: 1px solid #99f;
}
.mqeebtn span {
	cursor: pointer;
}

#mqeeclosebutton {
	font-family: sans-serif;
	cursor: pointer;
}

#mqeeinsides {
	font-size: medium;
}

table.cursor-icons td.mqeebtn {
	height: auto;
	width: auto;
	background: transparent;
	padding: 0px;
}
table.cursor-icons td.mqeebtn div {
	background-repeat:no-repeat;
	width: 24px;height: 25px;
	background-image:url('../img/mq_cursor_sprites.png');
}

table.cursor-icons td.mqeebtn .left{ background-position: 0 -60px;}
table.cursor-icons td.mqeebtn .left:hover{ background-position: 0 -90px;}
table.cursor-icons td.mqeebtn .right{ background-position: 0 -120px;}
table.cursor-icons td.mqeebtn .right:hover{ background-position: 0 -150px;}
table.cursor-icons td.mqeebtn .up{ background-position: 0 -180px;}
table.cursor-icons td.mqeebtn .up:hover{ background-position: 0 -210px;}
table.cursor-icons td.mqeebtn .down{ background-position: 0 0;} 
table.cursor-icons td.mqeebtn .down:hover{ background-position: 0 -30px;}
